<!DOCTYPE html>
<html lang="en" class="clickfunnels-com bgCover wf-proximanova-i4-active wf-proximanova-i7-active wf-proximanova-n4-active wf-proximanova-n7-active wf-active wf-proximanova-i3-active wf-proximanova-n3-active wf-proximanovasoft-n4-active wf-proximanovasoft-n7-active gr__app_clickfunnels_com wf-proximasoft-n4-active wf-proximasoft-i4-active wf-proximasoft-i6-active wf-proximasoft-n6-active wf-proximasoft-i7-active wf-proximasoft-n7-active avcHn2VQJenBvoR5hilPG " style='overflow: initial; background-image: url("//shop.2a4life.com/hosted/images/ea/832bb0198111e78605bfb7247f38fe/Screen-Shot-2017-04-04-at-3.57.25-PM.png");'>
<head data-next-url="" data-this-url="https://shop.2a4life.com/quick-draw-mag38155184">
    <meta charset="UTF-8">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta name="viewport" content="initial-scale=1">
    <title>{{ Title }}</title>
    <meta class="metaTagTop" name="description" content="Tactical Magnet 2.0">
    <meta class="metaTagTop" name="keywords" content="Tac, Magnet, car, concealed">
    <meta class="metaTagTop" name="author" content="2A4LIFE">
    <meta class="metaTagTop" property="og:image" content="https://i.imgur.com/scgghaB.png" id="social-image">
    <meta property="og:title" content="2A4LIFE">
    <meta property="og:description" content="Tactical Magnet 2.0">
    <meta property="og:url" content="https://shop.2a4life.com/quick-draw-mag38155184">
    <meta property="og:type" content="website">
    <link rel="stylesheet" media="screen" href="//shop.2a4life.com/assets/lander.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/v4-shims.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7COswald:400,700%7CDroid+Sans:400,700%7CRoboto:400,700%7CLato:400,700%7CPT+Sans:400,700%7CSource+Sans+Pro:400,600,700%7CNoto+Sans:400,700%7CPT+Sans:400,700%7CUbuntu:400,700%7CBitter:400,700%7CPT+Serif:400,700%7CRokkitt:400,700%7CDroid+Serif:400,700%7CRaleway:400,700%7CInconsolata:400,700" rel="stylesheet" type="text/css">
    <meta property="cf:funnel_id" content="VWF4OHBUVVBicDBJb1V6aEpveFNlQT09LS1ibi9hNEdsRlRnVnJ4WWFDY1lVN2FnPT0=--d6d18ed2449b6a483b285b0a4f7630d30897d91a">
    <meta property="cf:page_id" content="RjNSTGpSeUhJYjV0NnpTTm1tc3VBUT09LS1SVExpL3FSc3VwS3RTZUR2bXhhTEVBPT0=--5f34dd9473993731a860c22be59897ebac72a25c">
    <meta property="cf:funnel_step_id" content="RVVhSnFKN04xSXVCaWdUMWk0aE1Tdz09LS10KzZ3bERKTGdmOHJuZEhnN3p6VlhnPT0=--0fb5427fd19e36afea5f4dae3dfed10966786be5">
    <meta property="cf:user_id" content="Zy9CWjZaQkNmZUI2TEcvRG1qZWJMQT09LS13S21WaEhxNUdpaFAybFRUR09FSGh3PT0=--a4b690ed3619fa93b7a0efbf4a126b863886ad0b">
    <meta property="cf:account_id" content="QytLZ3ZGQnI4TXRoZ1NuY3FKOW1jQT09LS1NTm53bjRNbjJzcDY2NU1qU0VXeGF3PT0=--ae7da860b66be7fc8deb18eeb19ce99d5f03a9c6">
    <meta property="cf:page_code" content="MzgxNTUxODQ=">
    <meta property="cf:mode_id" content="1">
    <meta property="cf:time_zone" content="America/Denver">
    <meta property="cf:app_domain" content="app.clickfunnels.com">
    <!-- sentry -->
    <script src="https://browser.sentry-cdn.com/5.20.0/bundle.min.js" integrity="sha384-mmBh0B1uYbzmP0q9QcqWr4el7gVXBSY0hWB2U8cNhNZi/RIuVQRp7pm1NlPOa644" crossorigin="anonymous"></script>
    <script>
        Sentry.init({ dsn: 'https://f70485d422c444d695a7ef933b859202@o323204.ingest.sentry.io/5354234' });
    </script>
    <!-- end sentry -->
    <script src="//shop.2a4life.com/assets/userevents/application.js"></script>
    <style>
        [data-timed-style='fade'] {
            display: none
        }

        [data-timed-style='scale'] {
            display: none
        }
    </style>
    <link rel='icon' type='image/png' href='//shop.2a4life.com/hosted/images/uploads/digital_asset/file/181051/favicon-32x32.png'>
    </link>
    <script>
        (function(h, o, t, j, a, r) {
            h.hj = h.hj || function() {
                (h.hj.q = h.hj.q || []).push(arguments)
            };
            h._hjSettings = {
                hjid: 829301,
                hjsv: 6
            };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script');
            r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
    {{ Blocks |> render('head-scripts') }}
</head>
<body data-affiliate-param="affiliate_id" data-show-progress="true">
{{ Blocks |> render('body-init') }}
<svg xmlns="http://www.w3.org/2000/svg" style="display: none !important">
    <filter id="grayscale">
        <fecolormatrix type="matrix" values="0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0"></fecolormatrix>
    </filter>
</svg>
<div class="containerWrapper">
    <textarea id="tracking-body-top" style="display: none !important"></textarea>
    <input type="hidden" id="submit-form-action" value="redirect-url" data-url="#" data-ar-service="" data-ar-list="" data-webhook="">
    <div class="nodoHiddenFormFields hide">
        <input type="hidden" id="elHidden1" class="elInputHidden elInput" name="ad">
        <input type="hidden" id="elHidden2" class="elInputHidden elInput" name="tag">
        <input type="hidden" id="elHidden3" class="elInputHidden elInput" name="">
        <input type="hidden" id="elHidden4" class="elInputHidden elInput" name="">
        <input type="hidden" id="elHidden5" class="elInputHidden elInput" name="">
    </div>
    <div class="nodoCustomHTML hide"></div>
    <div class="modalBackdropWrapper" style="display: none; background-color: rgba(0, 0, 0, 0.4); height: 100%;"></div>
    <div class="container containerModal midContainer noTopMargin padding40-top padding40-bottom padding40H noBorder borderSolid border3px cornersAll radius10 shadow0 bgNoRepeat emptySection" id="modalPopup" data-title="Modal" data-block-color="0074C7" style="display: none; margin-top: 100px; padding-top: 40px; padding-bottom: 40px; outline: none; background-color: rgb(255, 255, 255);" data-trigger="none" data-animate="top" data-delay="0">
        <div class="containerInner ui-sortable"></div>
        <div class="closeLPModal">
            <img src="https://www.clickfunnels.com/images/closemodal.png" alt="">
        </div>
    </div>
    <!-- header -->
    <div class="container noTopMargin padding40-top padding40-bottom padding40H borderSolid border3px cornersAll radius0 shadow0 activeSection_topBorder0 activeSection_bottomBorder0 borderLightTopBottom activeSection_topBorder2.22222 activeSection_bottomBorder2.22222 bgCover emptySection wideContainer" id="section-8703610000" data-title="Section" data-block-color="0074C7" style="border-color: rgba(0, 0, 0, 0.33); padding-top: 0px; padding-bottom: 0px; outline: none; background-color: rgba(0, 0, 0, 0.6);" data-trigger="none" data-animate="fade" data-delay="500">
        <div class="containerInner ui-sortable">
            <div class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" id="row--23696" data-trigger="none" data-animate="fade" data-delay="500" data-title="3 column row" style="padding-top: 20px; padding-bottom: 20px; margin: 0px; outline: none;">
                <div id="col-left-173" class="col-md-4 innerContent col_left ui-resizable" data-col="left" data-trigger="none" data-animate="fade" data-delay="500" data-title="1st column" style="outline: none;">
                    <div class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" style="padding: 0 10px"></div>
                </div>
                <div id="col-center-182" class="col-md-4 innerContent col_right ui-resizable" data-col="center" data-trigger="none" data-animate="fade" data-delay="500" data-title="2nd column" style="outline: none;">
                    <div class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" style="padding: 0 10px">
                        <div class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable" id="tmp_image-72688" data-de-type="img" data-de-editing="false" data-title="image" data-ce="false" data-trigger="none" data-animate="fade" data-delay="500" style="margin-top: 10px; cursor: pointer; outline: none;" aria-disabled="false">
                            <img src="//shop.2a4life.com/hosted/images/f4/451940ddbf11e6a637e7676feae906/2a4life-white.png" class="elIMG ximg" height="56">
                        </div>
                    </div>
                </div>
                <div id="col-right-174" class="col-md-4 innerContent col_right ui-resizable" data-col="right" data-trigger="none" data-animate="fade" data-delay="500" data-title="3rd column" style="outline: none;">
                    <div class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" style="padding: 0 10px">
                        <div class="de elHeadlineWrapper ui-droppable de-editable" id="tmp_subheadline-96509" data-de-type="headline" data-de-editing="false" data-title="sub-headline" data-ce="true" data-trigger="none" data-animate="fade" data-delay="500" data-gramm="false" style='margin-top: 10px; outline: none; cursor: pointer; font-family: "Open Sans", Helvetica, sans-serif !important;' data-google-font="Open+Sans" aria-disabled="false">
                            <h2 class="ne elHeadline hsSize2 lh3 elMargin0 elBGStyle0 hsTextShadow0" style="text-align: center; font-size: 16px; color: rgb(255, 255, 255);" data-bold="inherit" data-gramm="false" contenteditable="false">
                                <b>
                                    Contact Us: (801) 528-6877 </b>
                                <div>
                                    <b>Email: Care@2a4life.com</b>
                                </div>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end header -->
    {{ page }}
    <!-- footer -->
    <div class="container noTopMargin padding40-top padding40-bottom padding40H noBorder borderSolid border3px cornersAll radius0 shadow0 bgNoRepeat activeSection_topBorder0 activeSection_bottomBorder0 emptySection wideContainer" id="section-87810000" data-title="Section" data-block-color="0074C7" style="padding-top: 40px; padding-bottom: 40px; outline: none; background-color: rgba(20, 20, 20, 0.811765);" data-trigger="none" data-animate="fade" data-delay="500">
        <div class="containerInner ui-sortable">
            <div class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" id="row--78165" data-trigger="none" data-animate="fade" data-delay="500" data-title="1 column row" style="margin-bottom: 0px; outline: none;">
                <div id="col-full-128" class="col-md-12 innerContent col_left" data-col="full" data-trigger="none" data-animate="fade" data-delay="500" data-title="full column" style="outline: none;">
                    <div class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin">
                        <div class="de elHeadlineWrapper ui-droppable de-editable" id="tmp_headline1-90007" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="none" data-animate="fade" data-delay="500" style="margin-top: 0px; outline: none; display: block; cursor: pointer;" aria-disabled="false">
                            <div class="ne elHeadline hsSize3 lh4 elMargin0 elBGStyle0 hsTextShadow0" style="text-align: center; font-size: 16px; color: rgb(136, 136, 136);" data-bold="inherit" contenteditable="false" data-gramm="false" spellcheck="false">
                                <div>
                                    <b>2A4LIFE LLC</b>
                                </div>
                                <div>
                                    <b>858 S AUTOMALL DR</b>
                                </div>
                                <div>
                                    <b>STE 101</b>
                                </div>
                                <div>
                                    <b>AMERICAN FORK UT 84003</b>
                                </div>
                                <div>
                                    <b>UNITED STATES</b>
                                </div>
                            </div>
                        </div>
                        <div class="de elTextBlockWrapper elMargin0 ui-droppable de-editable" id="textblock-82457" data-de-type="textblock" data-de-editing="false" data-title="text block" data-ce="false" data-trigger="none" data-animate="fade" data-delay="500" style="margin-top: 10px; outline: none; cursor: pointer;" aria-disabled="false">
                            <div class="elTextblock" style="color: rgb(220, 220, 220);">
                                <p style="text-align: center;">Copyright @2020 - All Rights Reserved - 2A4LIFE</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end footer -->
    <style id="button_style_tmp_button-35601">
        #tmp_button-35601 .elButtonFlat:hover {
            background-color: #d2322d !important;
        }

        #tmp_button-35601 .elButtonBottomBorder:hover {
            background-color: #d2322d !important;
        }

        #tmp_button-35601 .elButtonSubtle:hover {
            background-color: #d2322d !important;
        }

        #tmp_button-35601 .elButtonGradient {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(217, 83, 79)), color-stop(1, #d2322d));
            background-image: -o-linear-gradient(bottom, rgb(217, 83, 79) 0%, #d2322d 100%);
            background-image: -moz-linear-gradient(bottom, rgb(217, 83, 79) 0%, #d2322d 100%);
            background-image: -webkit-linear-gradient(bottom, rgb(217, 83, 79) 0%, #d2322d 100%);
            background-image: -ms-linear-gradient(bottom, rgb(217, 83, 79) 0%, #d2322d 100%);
            background-image: linear-gradient(to bottom, rgb(217, 83, 79) 0%, #d2322d 100%);
        }

        #tmp_button-35601 .elButtonGradient:hover {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1, rgb(217, 83, 79)), color-stop(0, #d2322d));
            background-image: -o-linear-gradient(bottom, rgb(217, 83, 79) 100%, #d2322d 0%);
            background-image: -moz-linear-gradient(bottom, rgb(217, 83, 79) 100%, #d2322d 0%);
            background-image: -webkit-linear-gradient(bottom, rgb(217, 83, 79) 100%, #d2322d 0%);
            background-image: -ms-linear-gradient(bottom, rgb(217, 83, 79) 100%, #d2322d 0%);
            background-image: linear-gradient(to bottom, rgb(217, 83, 79) 100%, #d2322d 0%);
        }

        #tmp_button-35601 .elButtonBorder {
            border: 3px solid rgb(217, 83, 79) !important;
            color: rgb(217, 83, 79) !important;
        }

        #tmp_button-35601 .elButtonBorder:hover {
            background-color: rgb(217, 83, 79) !important;
            color: #FFF !important;
        }
    </style>
    <style id="button_style_button-21829">
        #button-21829 .elButtonFlat:hover {
            background-color: #d2322d !important;
        }

        #button-21829 .elButtonBottomBorder:hover {
            background-color: #d2322d !important;
        }

        #button-21829 .elButtonSubtle:hover {
            background-color: #d2322d !important;
        }

        #button-21829 .elButtonGradient {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(217, 83, 79)), color-stop(1, #d2322d));
            background-image: -o-linear-gradient(bottom, rgb(217, 83, 79) 0%, #d2322d 100%);
            background-image: -moz-linear-gradient(bottom, rgb(217, 83, 79) 0%, #d2322d 100%);
            background-image: -webkit-linear-gradient(bottom, rgb(217, 83, 79) 0%, #d2322d 100%);
            background-image: -ms-linear-gradient(bottom, rgb(217, 83, 79) 0%, #d2322d 100%);
            background-image: linear-gradient(to bottom, rgb(217, 83, 79) 0%, #d2322d 100%);
        }

        #button-21829 .elButtonGradient:hover {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1, rgb(217, 83, 79)), color-stop(0, #d2322d));
            background-image: -o-linear-gradient(bottom, rgb(217, 83, 79) 100%, #d2322d 0%);
            background-image: -moz-linear-gradient(bottom, rgb(217, 83, 79) 100%, #d2322d 0%);
            background-image: -webkit-linear-gradient(bottom, rgb(217, 83, 79) 100%, #d2322d 0%);
            background-image: -ms-linear-gradient(bottom, rgb(217, 83, 79) 100%, #d2322d 0%);
            background-image: linear-gradient(to bottom, rgb(217, 83, 79) 100%, #d2322d 0%);
        }

        #button-21829 .elButtonBorder {
            border: 3px solid rgb(217, 83, 79) !important;
            color: rgb(217, 83, 79) !important;
        }

        #button-21829 .elButtonBorder:hover {
            background-color: rgb(217, 83, 79) !important;
            color: #FFF !important;
        }
    </style>
    <style id="button_style_button-59763">
        #button-59763 .elButtonFlat:hover {
            background-color: #d2322d !important;
        }

        #button-59763 .elButtonBottomBorder:hover {
            background-color: #d2322d !important;
        }

        #button-59763 .elButtonSubtle:hover {
            background-color: #d2322d !important;
        }

        #button-59763 .elButtonGradient {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(217, 83, 79)), color-stop(1, #d2322d));
            background-image: -o-linear-gradient(bottom, rgb(217, 83, 79) 0%, #d2322d 100%);
            background-image: -moz-linear-gradient(bottom, rgb(217, 83, 79) 0%, #d2322d 100%);
            background-image: -webkit-linear-gradient(bottom, rgb(217, 83, 79) 0%, #d2322d 100%);
            background-image: -ms-linear-gradient(bottom, rgb(217, 83, 79) 0%, #d2322d 100%);
            background-image: linear-gradient(to bottom, rgb(217, 83, 79) 0%, #d2322d 100%);
        }

        #button-59763 .elButtonGradient:hover {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1, rgb(217, 83, 79)), color-stop(0, #d2322d));
            background-image: -o-linear-gradient(bottom, rgb(217, 83, 79) 100%, #d2322d 0%);
            background-image: -moz-linear-gradient(bottom, rgb(217, 83, 79) 100%, #d2322d 0%);
            background-image: -webkit-linear-gradient(bottom, rgb(217, 83, 79) 100%, #d2322d 0%);
            background-image: -ms-linear-gradient(bottom, rgb(217, 83, 79) 100%, #d2322d 0%);
            background-image: linear-gradient(to bottom, rgb(217, 83, 79) 100%, #d2322d 0%);
        }

        #button-59763 .elButtonBorder {
            border: 3px solid rgb(217, 83, 79) !important;
            color: rgb(217, 83, 79) !important;
        }

        #button-59763 .elButtonBorder:hover {
            background-color: rgb(217, 83, 79) !important;
            color: #FFF !important;
        }
    </style>
    <style id="button_style_tmp_button-35601-147">
        #tmp_button-35601-147 .elButtonFlat:hover {
            background-color: #d2322d !important;
        }

        #tmp_button-35601-147 .elButtonBottomBorder:hover {
            background-color: #d2322d !important;
        }

        #tmp_button-35601-147 .elButtonSubtle:hover {
            background-color: #d2322d !important;
        }

        #tmp_button-35601-147 .elButtonGradient {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(217, 83, 79)), color-stop(1, #d2322d));
            background-image: -o-linear-gradient(bottom, rgb(217, 83, 79) 0%, #d2322d 100%);
            background-image: -moz-linear-gradient(bottom, rgb(217, 83, 79) 0%, #d2322d 100%);
            background-image: -webkit-linear-gradient(bottom, rgb(217, 83, 79) 0%, #d2322d 100%);
            background-image: -ms-linear-gradient(bottom, rgb(217, 83, 79) 0%, #d2322d 100%);
            background-image: linear-gradient(to bottom, rgb(217, 83, 79) 0%, #d2322d 100%);
        }

        #tmp_button-35601-147 .elButtonGradient:hover {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1, rgb(217, 83, 79)), color-stop(0, #d2322d));
            background-image: -o-linear-gradient(bottom, rgb(217, 83, 79) 100%, #d2322d 0%);
            background-image: -moz-linear-gradient(bottom, rgb(217, 83, 79) 100%, #d2322d 0%);
            background-image: -webkit-linear-gradient(bottom, rgb(217, 83, 79) 100%, #d2322d 0%);
            background-image: -ms-linear-gradient(bottom, rgb(217, 83, 79) 100%, #d2322d 0%);
            background-image: linear-gradient(to bottom, rgb(217, 83, 79) 100%, #d2322d 0%);
        }

        #tmp_button-35601-147 .elButtonBorder {
            border: 3px solid rgb(217, 83, 79) !important;
            color: rgb(217, 83, 79) !important;
        }

        #tmp_button-35601-147 .elButtonBorder:hover {
            background-color: rgb(217, 83, 79) !important;
            color: #FFF !important;
        }
    </style>
    <style id="button_style_tmp_button-48128">
        #tmp_button-48128 .elButtonFlat:hover {
            background-color: #07823a !important;
        }

        #tmp_button-48128 .elButtonBottomBorder:hover {
            background-color: #07823a !important;
        }

        #tmp_button-48128 .elButtonSubtle:hover {
            background-color: #07823a !important;
        }

        #tmp_button-48128 .elButtonGradient {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(9, 179, 80)), color-stop(1, #07823a));
            background-image: -o-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: -moz-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: -webkit-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: -ms-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: linear-gradient(to bottom, rgb(9, 179, 80) 0%, #07823a 100%);
        }

        #tmp_button-48128 .elButtonGradient:hover {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1, rgb(9, 179, 80)), color-stop(0, #07823a));
            background-image: -o-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: -moz-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: -webkit-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: -ms-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: linear-gradient(to bottom, rgb(9, 179, 80) 100%, #07823a 0%);
        }

        #tmp_button-48128 .elButtonBorder {
            border: 3px solid rgb(9, 179, 80) !important;
            color: rgb(9, 179, 80) !important;
        }

        #tmp_button-48128 .elButtonBorder:hover {
            background-color: rgb(9, 179, 80) !important;
            color: #FFF !important;
        }
    </style>
    <style id="bullet_list_icon_color_tmp_list-94266">
        .feature-benefit-list li:before {
            color: rgba(16, 140, 235, 0.9) !important;
        }
    </style>
    <style id="bold_style_tmp_list-94266">
        .feature-benefit-list .elBulletList b {
            color: rgb(255, 255, 255);
        }
    </style>
    <style id="button_style_button-93178">
        #button-93178 .elButtonFlat:hover {
            background-color: #07823a !important;
        }

        #button-93178 .elButtonBottomBorder:hover {
            background-color: #07823a !important;
        }

        #button-93178 .elButtonSubtle:hover {
            background-color: #07823a !important;
        }

        #button-93178 .elButtonGradient {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(9, 179, 80)), color-stop(1, #07823a));
            background-image: -o-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: -moz-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: -webkit-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: -ms-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: linear-gradient(to bottom, rgb(9, 179, 80) 0%, #07823a 100%);
        }

        #button-93178 .elButtonGradient:hover {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1, rgb(9, 179, 80)), color-stop(0, #07823a));
            background-image: -o-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: -moz-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: -webkit-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: -ms-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: linear-gradient(to bottom, rgb(9, 179, 80) 100%, #07823a 0%);
        }

        #button-93178 .elButtonBorder {
            border: 3px solid rgb(9, 179, 80) !important;
            color: rgb(9, 179, 80) !important;
        }

        #button-93178 .elButtonBorder:hover {
            background-color: rgb(9, 179, 80) !important;
            color: #FFF !important;
        }
    </style>
    <style id="button_style_button-93178-168">
        #button-93178-168 .elButtonFlat:hover {
            background-color: #07823a !important;
        }

        #button-93178-168 .elButtonBottomBorder:hover {
            background-color: #07823a !important;
        }

        #button-93178-168 .elButtonSubtle:hover {
            background-color: #07823a !important;
        }

        #button-93178-168 .elButtonGradient {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(9, 179, 80)), color-stop(1, #07823a));
            background-image: -o-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: -moz-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: -webkit-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: -ms-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: linear-gradient(to bottom, rgb(9, 179, 80) 0%, #07823a 100%);
        }

        #button-93178-168 .elButtonGradient:hover {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1, rgb(9, 179, 80)), color-stop(0, #07823a));
            background-image: -o-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: -moz-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: -webkit-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: -ms-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: linear-gradient(to bottom, rgb(9, 179, 80) 100%, #07823a 0%);
        }

        #button-93178-168 .elButtonBorder {
            border: 3px solid rgb(9, 179, 80) !important;
            color: rgb(9, 179, 80) !important;
        }

        #button-93178-168 .elButtonBorder:hover {
            background-color: rgb(9, 179, 80) !important;
            color: #FFF !important;
        }
    </style>
    <style id="button_style_button-43101">
        #button-43101 .elButtonFlat:hover {
            background-color: #07823a !important;
        }

        #button-43101 .elButtonBottomBorder:hover {
            background-color: #07823a !important;
        }

        #button-43101 .elButtonSubtle:hover {
            background-color: #07823a !important;
        }

        #button-43101 .elButtonGradient {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(9, 179, 80)), color-stop(1, #07823a));
            background-image: -o-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: -moz-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: -webkit-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: -ms-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: linear-gradient(to bottom, rgb(9, 179, 80) 0%, #07823a 100%);
        }

        #button-43101 .elButtonGradient:hover {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1, rgb(9, 179, 80)), color-stop(0, #07823a));
            background-image: -o-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: -moz-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: -webkit-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: -ms-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: linear-gradient(to bottom, rgb(9, 179, 80) 100%, #07823a 0%);
        }

        #button-43101 .elButtonBorder {
            border: 3px solid rgb(9, 179, 80) !important;
            color: rgb(9, 179, 80) !important;
        }

        #button-43101 .elButtonBorder:hover {
            background-color: rgb(9, 179, 80) !important;
            color: #FFF !important;
        }
    </style>
    <style id="button_style_button-51325">
        #button-51325 .elButtonFlat:hover {
            background-color: #07823a !important;
        }

        #button-51325 .elButtonBottomBorder:hover {
            background-color: #07823a !important;
        }

        #button-51325 .elButtonSubtle:hover {
            background-color: #07823a !important;
        }

        #button-51325 .elButtonGradient {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(9, 179, 80)), color-stop(1, #07823a));
            background-image: -o-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: -moz-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: -webkit-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: -ms-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: linear-gradient(to bottom, rgb(9, 179, 80) 0%, #07823a 100%);
        }

        #button-51325 .elButtonGradient:hover {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1, rgb(9, 179, 80)), color-stop(0, #07823a));
            background-image: -o-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: -moz-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: -webkit-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: -ms-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: linear-gradient(to bottom, rgb(9, 179, 80) 100%, #07823a 0%);
        }

        #button-51325 .elButtonBorder {
            border: 3px solid rgb(9, 179, 80) !important;
            color: rgb(9, 179, 80) !important;
        }

        #button-51325 .elButtonBorder:hover {
            background-color: rgb(9, 179, 80) !important;
            color: #FFF !important;
        }
    </style>
    <style id="button_style_tmp_textblock-39181">
        #tmp_textblock-39181 .elButtonFlat:hover {
            background-color: #ebebeb !important;
        }

        #tmp_textblock-39181 .elButtonBottomBorder:hover {
            background-color: #ebebeb !important;
        }

        #tmp_textblock-39181 .elButtonSubtle:hover {
            background-color: #ebebeb !important;
        }

        #tmp_textblock-39181 .elButtonGradient {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(255, 255, 255)), color-stop(1, #ebebeb));
            background-image: -o-linear-gradient(bottom, rgb(255, 255, 255) 0%, #ebebeb 100%);
            background-image: -moz-linear-gradient(bottom, rgb(255, 255, 255) 0%, #ebebeb 100%);
            background-image: -webkit-linear-gradient(bottom, rgb(255, 255, 255) 0%, #ebebeb 100%);
            background-image: -ms-linear-gradient(bottom, rgb(255, 255, 255) 0%, #ebebeb 100%);
            background-image: linear-gradient(to bottom, rgb(255, 255, 255) 0%, #ebebeb 100%);
        }

        #tmp_textblock-39181 .elButtonGradient:hover {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1, rgb(255, 255, 255)), color-stop(0, #ebebeb));
            background-image: -o-linear-gradient(bottom, rgb(255, 255, 255) 100%, #ebebeb 0%);
            background-image: -moz-linear-gradient(bottom, rgb(255, 255, 255) 100%, #ebebeb 0%);
            background-image: -webkit-linear-gradient(bottom, rgb(255, 255, 255) 100%, #ebebeb 0%);
            background-image: -ms-linear-gradient(bottom, rgb(255, 255, 255) 100%, #ebebeb 0%);
            background-image: linear-gradient(to bottom, rgb(255, 255, 255) 100%, #ebebeb 0%);
        }

        #tmp_textblock-39181 .elButtonGradient2 {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(255, 255, 255)), color-stop(1, #ebebeb));
            background-image: -o-linear-gradient(bottom, rgb(255, 255, 255) 30%, #ebebeb 80%);
            background-image: -moz-linear-gradient(bottom, rgb(255, 255, 255) 30%, #ebebeb 80%);
            background-image: -webkit-linear-gradient(bottom, rgb(255, 255, 255) 30%, #ebebeb 80%);
            background-image: -ms-linear-gradient(bottom, rgb(255, 255, 255) 30%, #ebebeb 80%);
            background-image: linear-gradient(to bottom, rgb(255, 255, 255) 30%, #ebebeb 80%);
        }

        #tmp_textblock-39181 .elButtonGradient2:hover {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1, rgb(255, 255, 255)), color-stop(0, #ebebeb));
            background-image: -o-linear-gradient(bottom, rgb(255, 255, 255) 100%, #ebebeb 30%);
            background-image: -moz-linear-gradient(bottom, rgb(255, 255, 255) 100%, #ebebeb 30%);
            background-image: -webkit-linear-gradient(bottom, rgb(255, 255, 255) 100%, #ebebeb 30%);
            background-image: -ms-linear-gradient(bottom, rgb(255, 255, 255) 100%, #ebebeb 30%);
            background-image: linear-gradient(to bottom, rgb(255, 255, 255) 100%, #ebebeb 30%);
        }

        #tmp_textblock-39181 .elButtonBorder {
            border: 3px solid rgb(255, 255, 255) !important;
            color: rgb(255, 255, 255) !important;
        }

        #tmp_textblock-39181 .elButtonBorder:hover {
            background-color: rgb(255, 255, 255) !important;
            color: #000 !important;
        }
    </style>
    <style id="bold_style_tmp_headline1-58530">
        #tmp_headline1-58530 .elHeadline b {
            color: rgb(255, 255, 255);
        }
    </style>
    <style id="button_style_button-37747">
        #button-37747 .elButtonFlat:hover {
            background-color: #07823a !important;
        }

        #button-37747 .elButtonBottomBorder:hover {
            background-color: #07823a !important;
        }

        #button-37747 .elButtonSubtle:hover {
            background-color: #07823a !important;
        }

        #button-37747 .elButtonGradient {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(9, 179, 80)), color-stop(1, #07823a));
            background-image: -o-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: -moz-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: -webkit-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: -ms-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: linear-gradient(to bottom, rgb(9, 179, 80) 0%, #07823a 100%);
        }

        #button-37747 .elButtonGradient:hover {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1, rgb(9, 179, 80)), color-stop(0, #07823a));
            background-image: -o-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: -moz-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: -webkit-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: -ms-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: linear-gradient(to bottom, rgb(9, 179, 80) 100%, #07823a 0%);
        }

        #button-37747 .elButtonBorder {
            border: 3px solid rgb(9, 179, 80) !important;
            color: rgb(9, 179, 80) !important;
        }

        #button-37747 .elButtonBorder:hover {
            background-color: rgb(9, 179, 80) !important;
            color: #FFF !important;
        }
    </style>
    <style id="bold_style_tmp_headline1-24762">
        #tmp_headline1-24762 .elHeadline b {
            color: rgb(255, 255, 255);
        }
    </style>
    <style id="button_style_tmp_headline1-24762">
        #tmp_headline1-24762 .elButtonFlat:hover {
            background-color: #cd291a !important;
        }

        #tmp_headline1-24762 .elButtonBottomBorder:hover {
            background-color: #cd291a !important;
        }

        #tmp_headline1-24762 .elButtonSubtle:hover {
            background-color: #cd291a !important;
        }

        #tmp_headline1-24762 .elButtonGradient {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(228, 59, 44)), color-stop(1, #cd291a));
            background-image: -o-linear-gradient(bottom, rgb(228, 59, 44) 0%, #cd291a 100%);
            background-image: -moz-linear-gradient(bottom, rgb(228, 59, 44) 0%, #cd291a 100%);
            background-image: -webkit-linear-gradient(bottom, rgb(228, 59, 44) 0%, #cd291a 100%);
            background-image: -ms-linear-gradient(bottom, rgb(228, 59, 44) 0%, #cd291a 100%);
            background-image: linear-gradient(to bottom, rgb(228, 59, 44) 0%, #cd291a 100%);
        }

        #tmp_headline1-24762 .elButtonGradient:hover {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1, rgb(228, 59, 44)), color-stop(0, #cd291a));
            background-image: -o-linear-gradient(bottom, rgb(228, 59, 44) 100%, #cd291a 0%);
            background-image: -moz-linear-gradient(bottom, rgb(228, 59, 44) 100%, #cd291a 0%);
            background-image: -webkit-linear-gradient(bottom, rgb(228, 59, 44) 100%, #cd291a 0%);
            background-image: -ms-linear-gradient(bottom, rgb(228, 59, 44) 100%, #cd291a 0%);
            background-image: linear-gradient(to bottom, rgb(228, 59, 44) 100%, #cd291a 0%);
        }

        #tmp_headline1-24762 .elButtonGradient2 {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(228, 59, 44)), color-stop(1, #cd291a));
            background-image: -o-linear-gradient(bottom, rgb(228, 59, 44) 30%, #cd291a 80%);
            background-image: -moz-linear-gradient(bottom, rgb(228, 59, 44) 30%, #cd291a 80%);
            background-image: -webkit-linear-gradient(bottom, rgb(228, 59, 44) 30%, #cd291a 80%);
            background-image: -ms-linear-gradient(bottom, rgb(228, 59, 44) 30%, #cd291a 80%);
            background-image: linear-gradient(to bottom, rgb(228, 59, 44) 30%, #cd291a 80%);
        }

        #tmp_headline1-24762 .elButtonGradient2:hover {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1, rgb(228, 59, 44)), color-stop(0, #cd291a));
            background-image: -o-linear-gradient(bottom, rgb(228, 59, 44) 100%, #cd291a 30%);
            background-image: -moz-linear-gradient(bottom, rgb(228, 59, 44) 100%, #cd291a 30%);
            background-image: -webkit-linear-gradient(bottom, rgb(228, 59, 44) 100%, #cd291a 30%);
            background-image: -ms-linear-gradient(bottom, rgb(228, 59, 44) 100%, #cd291a 30%);
            background-image: linear-gradient(to bottom, rgb(228, 59, 44) 100%, #cd291a 30%);
        }

        #tmp_headline1-24762 .elButtonBorder {
            border: 3px solid rgb(228, 59, 44) !important;
            color: rgb(228, 59, 44) !important;
        }

        #tmp_headline1-24762 .elButtonBorder:hover {
            background-color: rgb(228, 59, 44) !important;
            color: #FFF !important;
        }
    </style>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Helvetica+Neue+Helvetica+Arial+sans-serif%7Csans-serif%7COpen+Sans%7CMaven+Pro%7Csans-serif%7CMaven+Pro%7Csans-serif%7COswald+sans-serif%7Csans-serif%7COswald+sans-serif%7Csans-serif%7C%7C" id="custom_google_font">
    <style id="button_style_button-25400">
        #button-25400 .elButtonFlat:hover {
            background-color: #07823a !important;
        }

        #button-25400 .elButtonBottomBorder:hover {
            background-color: #07823a !important;
        }

        #button-25400 .elButtonSubtle:hover {
            background-color: #07823a !important;
        }

        #button-25400 .elButtonGradient {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(9, 179, 80)), color-stop(1, #07823a));
            background-image: -o-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: -moz-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: -webkit-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: -ms-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: linear-gradient(to bottom, rgb(9, 179, 80) 0%, #07823a 100%);
        }

        #button-25400 .elButtonGradient:hover {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1, rgb(9, 179, 80)), color-stop(0, #07823a));
            background-image: -o-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: -moz-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: -webkit-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: -ms-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: linear-gradient(to bottom, rgb(9, 179, 80) 100%, #07823a 0%);
        }

        #button-25400 .elButtonBorder {
            border: 3px solid rgb(9, 179, 80) !important;
            color: rgb(9, 179, 80) !important;
        }

        #button-25400 .elButtonBorder:hover {
            background-color: rgb(9, 179, 80) !important;
            color: #FFF !important;
        }
    </style>
    <style id="bold_style_tmp_headline1-21339">
        #tmp_headline1-21339 .elHeadline b {
            color: rgb(255, 255, 255);
        }
    </style>
    <style id="button_style_tmp_headline1-21339">
        #tmp_headline1-21339 .elButtonFlat:hover {
            background-color: #b32525 !important;
        }

        #tmp_headline1-21339 .elButtonBottomBorder:hover {
            background-color: #b32525 !important;
        }

        #tmp_headline1-21339 .elButtonSubtle:hover {
            background-color: #b32525 !important;
        }

        #tmp_headline1-21339 .elButtonGradient {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(212, 45, 45)), color-stop(1, #b32525));
            background-image: -o-linear-gradient(bottom, rgb(212, 45, 45) 0%, #b32525 100%);
            background-image: -moz-linear-gradient(bottom, rgb(212, 45, 45) 0%, #b32525 100%);
            background-image: -webkit-linear-gradient(bottom, rgb(212, 45, 45) 0%, #b32525 100%);
            background-image: -ms-linear-gradient(bottom, rgb(212, 45, 45) 0%, #b32525 100%);
            background-image: linear-gradient(to bottom, rgb(212, 45, 45) 0%, #b32525 100%);
        }

        #tmp_headline1-21339 .elButtonGradient:hover {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1, rgb(212, 45, 45)), color-stop(0, #b32525));
            background-image: -o-linear-gradient(bottom, rgb(212, 45, 45) 100%, #b32525 0%);
            background-image: -moz-linear-gradient(bottom, rgb(212, 45, 45) 100%, #b32525 0%);
            background-image: -webkit-linear-gradient(bottom, rgb(212, 45, 45) 100%, #b32525 0%);
            background-image: -ms-linear-gradient(bottom, rgb(212, 45, 45) 100%, #b32525 0%);
            background-image: linear-gradient(to bottom, rgb(212, 45, 45) 100%, #b32525 0%);
        }

        #tmp_headline1-21339 .elButtonGradient2 {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(212, 45, 45)), color-stop(1, #b32525));
            background-image: -o-linear-gradient(bottom, rgb(212, 45, 45) 30%, #b32525 80%);
            background-image: -moz-linear-gradient(bottom, rgb(212, 45, 45) 30%, #b32525 80%);
            background-image: -webkit-linear-gradient(bottom, rgb(212, 45, 45) 30%, #b32525 80%);
            background-image: -ms-linear-gradient(bottom, rgb(212, 45, 45) 30%, #b32525 80%);
            background-image: linear-gradient(to bottom, rgb(212, 45, 45) 30%, #b32525 80%);
        }

        #tmp_headline1-21339 .elButtonGradient2:hover {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1, rgb(212, 45, 45)), color-stop(0, #b32525));
            background-image: -o-linear-gradient(bottom, rgb(212, 45, 45) 100%, #b32525 30%);
            background-image: -moz-linear-gradient(bottom, rgb(212, 45, 45) 100%, #b32525 30%);
            background-image: -webkit-linear-gradient(bottom, rgb(212, 45, 45) 100%, #b32525 30%);
            background-image: -ms-linear-gradient(bottom, rgb(212, 45, 45) 100%, #b32525 30%);
            background-image: linear-gradient(to bottom, rgb(212, 45, 45) 100%, #b32525 30%);
        }

        #tmp_headline1-21339 .elButtonBorder {
            border: 3px solid rgb(212, 45, 45) !important;
            color: rgb(212, 45, 45) !important;
        }

        #tmp_headline1-21339 .elButtonBorder:hover {
            background-color: rgb(212, 45, 45) !important;
            color: #FFF !important;
        }
    </style>
    <style id="bold_style_headline-94111">
        #headline-94111 .elHeadline b {
            color: rgb(255, 255, 255);
        }
    </style>
    <style id="bold_style_headline-76032">
        #headline-76032 .elHeadline b {
            color: rgb(255, 255, 255);
        }
    </style>
    <style id="bullet_list_icon_color_list-83017">
        #list-83017 li:before {
            color: rgba(16, 140, 235, 0.9) !important;
        }
    </style>
    <style id="bold_style_list-83017">
        #list-83017 .elBulletList b {
            color: rgb(255, 255, 255);
        }
    </style>
    <style id="bold_style_tmp_headline1-24762-181">
        #tmp_headline1-24762-181 .elHeadline b {
            color: rgb(255, 255, 255);
        }
    </style>
    <style id="button_style_tmp_video-34065">
        #tmp_video-34065 .elButtonFlat:hover {
            background-color: #747474 !important;
        }

        #tmp_video-34065 .elButtonBottomBorder:hover {
            background-color: #747474 !important;
        }

        #tmp_video-34065 .elButtonSubtle:hover {
            background-color: #747474 !important;
        }

        #tmp_video-34065 .elButtonGradient {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(136, 136, 136, 0)), color-stop(1, #747474));
            background-image: -o-linear-gradient(bottom, rgba(136, 136, 136, 0) 0%, #747474 100%);
            background-image: -moz-linear-gradient(bottom, rgba(136, 136, 136, 0) 0%, #747474 100%);
            background-image: -webkit-linear-gradient(bottom, rgba(136, 136, 136, 0) 0%, #747474 100%);
            background-image: -ms-linear-gradient(bottom, rgba(136, 136, 136, 0) 0%, #747474 100%);
            background-image: linear-gradient(to bottom, rgba(136, 136, 136, 0) 0%, #747474 100%);
        }

        #tmp_video-34065 .elButtonGradient:hover {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1, rgba(136, 136, 136, 0)), color-stop(0, #747474));
            background-image: -o-linear-gradient(bottom, rgba(136, 136, 136, 0) 100%, #747474 0%);
            background-image: -moz-linear-gradient(bottom, rgba(136, 136, 136, 0) 100%, #747474 0%);
            background-image: -webkit-linear-gradient(bottom, rgba(136, 136, 136, 0) 100%, #747474 0%);
            background-image: -ms-linear-gradient(bottom, rgba(136, 136, 136, 0) 100%, #747474 0%);
            background-image: linear-gradient(to bottom, rgba(136, 136, 136, 0) 100%, #747474 0%);
        }

        #tmp_video-34065 .elButtonGradient2 {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(136, 136, 136, 0)), color-stop(1, #747474));
            background-image: -o-linear-gradient(bottom, rgba(136, 136, 136, 0) 30%, #747474 80%);
            background-image: -moz-linear-gradient(bottom, rgba(136, 136, 136, 0) 30%, #747474 80%);
            background-image: -webkit-linear-gradient(bottom, rgba(136, 136, 136, 0) 30%, #747474 80%);
            background-image: -ms-linear-gradient(bottom, rgba(136, 136, 136, 0) 30%, #747474 80%);
            background-image: linear-gradient(to bottom, rgba(136, 136, 136, 0) 30%, #747474 80%);
        }

        #tmp_video-34065 .elButtonGradient2:hover {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1, rgba(136, 136, 136, 0)), color-stop(0, #747474));
            background-image: -o-linear-gradient(bottom, rgba(136, 136, 136, 0) 100%, #747474 30%);
            background-image: -moz-linear-gradient(bottom, rgba(136, 136, 136, 0) 100%, #747474 30%);
            background-image: -webkit-linear-gradient(bottom, rgba(136, 136, 136, 0) 100%, #747474 30%);
            background-image: -ms-linear-gradient(bottom, rgba(136, 136, 136, 0) 100%, #747474 30%);
            background-image: linear-gradient(to bottom, rgba(136, 136, 136, 0) 100%, #747474 30%);
        }

        #tmp_video-34065 .elButtonBorder {
            border: 3px solid rgba(136, 136, 136, 0) !important;
            color: rgba(136, 136, 136, 0) !important;
        }

        #tmp_video-34065 .elButtonBorder:hover {
            background-color: rgba(136, 136, 136, 0) !important;
            color: #000 !important;
        }
    </style>
    <input type="hidden" name="cf-state-county-dropdown-feature-enabled" value="true">
</div>
<style id="custom-css"></style>
<input type="hidden" value="38155184" id="page-id">
<input type="hidden" value="38155184" id="root-id">
<input type="hidden" value="core" id="variant-check">
<input type="hidden" value="258021" id="user-id">
<input type="hidden" value="" id="cf-cid">
<script type="text/javascript">
    window.CFAppDomain = "app.clickfunnels.com"
</script>
<script src="//shop.2a4life.com/assets/lander.js"></script>
<div id="fb-root"></div>
<!--[if lt IE 9]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
<![endif]-->
<span class="countdown-time" style="display:none;"></span>
<span class="webinar-last-time" style="display:none;"></span>
<span class="webinar-ext" style="display:none;"></span>
<span class="webinar-ot" style="display:none;"></span>
<span class="contact-created" style="display:none;"></span>
<script>
</script>
<div class="otoloading" style="display: none;">
    <div class="otoloadingtext">
        <h2>Working...</h2>
        <div>
            <i class="fa fa-spinner fa-spin"></i>
        </div>
    </div>
</div>
<script type="text/javascript">
    document.createElement('video');
    document.createElement('audio');
    document.createElement('track');
</script>
<style>
    #IntercomDefaultWidget {
        display: none;
    }

    .selectAW-date-demo, .elTicketAddToCalendar, .elTicketAddToCalendarV2 {
        display: none;
    }

    .video-js {
        padding-top: 56.25%;
    }

    .vjs-big-play-button, .vjs-control-bar {
        z-index: 10 !important;
    }

    .vjs-fullscreen {
        padding-top: 0;
    }
</style>
<script>
    var page_key = 'tjauulibsljlmpuy';
    var fid = '8959984';
    var fspos = '1';
    var fvrs = '1';
    var cf_tracker = cf_tracker || [];
    (function() {
        cf_key = 'rnuqlybw';
        page_key = 'tjauulibsljlmpuy';
        serverUrl = '//shop.2a4life.com/images/background.png';
        var cf = document.createElement('script');
        cf.type = 'text/javascript';
        cf.async = true;
        cf.src = '//shop.2a4life.com/vendor.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(cf, s);
    })();
</script>
<script type="text/javascript">
    function getURLParameter(e) {
        return decodeURIComponent((RegExp(e + "=(.+?)(&|$)").exec(location.search) || [, null])[1])
    }
    function getURLParameterExact(e) {
        for (var t = window.location.search.substring(1).split("&"), n = 0; n < t.length; n++) {
            var r = t[n].split("=");
            if (r[0] == e)
                return r[1]
        }
    }
</script>
<script type="text/javascript">
    window.addEventListener("load", function() {
        $(function() {
            "null" != getURLParameter("email") && ($('input[name="contact[email]"]').val(getURLParameterExact("email")), $("[name=email]").val(getURLParameterExact("email"))), "null" != getURLParameter("name") && ($('input[name="contact[name]"]').val(getURLParameterExact("name")), $("[name=name]").val(getURLParameterExact("name"))), "null" != getURLParameter("first_name") && ($('input[name="contact[first_name]"]').val(getURLParameter("first_name")), $("[name=first_name]").val(getURLParameter("first_name"))), "null" != getURLParameter("last_name") && ($('input[name="contact[last_name]"]').val(getURLParameter("last_name")), $("[name=last_name]").val(getURLParameter("last_name"))), "null" != getURLParameter("address_1") && ($('input[name="contact[address_1]"]').val(getURLParameter("address")), $("[name=address_1]").val(getURLParameter("address_1"))), "null" != getURLParameter("address_2") && ($('input[name="contact[address_1]"]').val(getURLParameter("address")), $("[name=address_2]").val(getURLParameter("address_2"))), "null" != getURLParameter("city") && ($('input[name="contact[city]"]').val(getURLParameter("city")), $("[name=city]").val(getURLParameter("city"))), "null" != getURLParameter("state") && ($('input[name="contact[state]"]').val(getURLParameter("state")), $("[name=state]").val(getURLParameter("state"))), "null" != getURLParameter("zip") && ($('input[name="contact[zip]"]').val(getURLParameter("zip")), $("[name=zip]").val(getURLParameter("zip"))), "null" != getURLParameter("phone") && ($('input[name="contact[phone]"]').val(getURLParameter("phone")), $("[name=phone]").val(getURLParameter("phone")))
        })
    });
</script>
<script type='text/javascript'>
    if (localStorage.getItem('cf_uvid') != null) {
        start_page_notifier(localStorage.getItem('cf_uvid'), 'MjU4MDIx')
    }
</script>
{{ Blocks |> render('tail-scripts') }}
</body>
</html>
