<div class="container noTopMargin padding40-top padding40-bottom padding40H noBorder borderSolid border3px cornersAll radius0 shadow0 bgNoRepeat activeSection_topBorder0 activeSection_bottomBorder0 emptySection wideContainer" data-title="Section" data-block-color="0074C7" style="padding-top: 24px; padding-bottom: 25px; outline: none; background-color: rgb(255, 255, 255);" data-trigger="none" data-animate="fade" data-delay="500">
    <div class="containerInner ui-sortable">
        {{ Blocks |> render }}
    </div>
</div>
