<div class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" data-trigger="none" data-animate="fade" data-delay="500" data-title="1 column row" style="margin-bottom: 0px; outline: none;">
    <div class="col-md-12 innerContent col_left" data-col="full" data-trigger="none" data-animate="fade" data-delay="500" data-title="full column" style="outline: none;">
        <div class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin">
            {{#truthy Offer.CompareAtPrice}}
            <div class="de elHeadlineWrapper ui-droppable de-editable" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="none" data-animate="fade" data-delay="500" style="margin-top: 10px; display: block; cursor: pointer; outline: none;" aria-disabled="false">
                <div class="ne elHeadline hsSize3 lh3 elMargin0 elBGStyle0 hsTextShadow0 elFont_oswald" style="text-align: center; color: rgb(47, 47, 47);" data-bold="inherit" contenteditable="false" data-gramm="false" spellcheck="false">
                    Retail Price -
                    <a href="#" class="" target="_self" style="color: rgb(238, 0, 0);">${{ Offer.CompareAtPrice }}</a>
                </div>
            </div>
            <div class="de elHeadlineWrapper ui-droppable de-editable" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="none" data-animate="fade" data-delay="500" style="margin-top: 10px; cursor: pointer; outline: none; display: block;" aria-disabled="false">
                <div class="ne elHeadline lh3 elMargin0 elBGStyle0 hsTextShadow0 hsSize21" style="text-align: center;" data-bold="inherit" contenteditable="false">
                    But we have a special sale today</div>
            </div>
            {{/truthy}}
            {{#truthy Offer.RetailPrice}}
            <div class="de elHeadlineWrapper ui-droppable de-editable" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="none" data-animate="fade" data-delay="500" style="margin-top: 10px; display: block; cursor: pointer; outline: none;" aria-disabled="false">
                <div class="ne elHeadline hsSize3 lh3 elMargin0 elBGStyle0 hsTextShadow0 elFont_oswald" style="text-align: center; color: rgb(47, 47, 47);" data-bold="inherit" contenteditable="false" data-gramm="false" spellcheck="false">
                    Normal Price -
                    <a href="#" class="" target="_self" style="color: rgb(238, 0, 0);">${{ Offer.RetailPrice }}</a>
                </div>
            </div>
            {{/truthy}}
            <div class="de elHeadlineWrapper ui-droppable de-editable" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="none" data-animate="fade" data-delay="500" style="margin-top: 10px; cursor: pointer; outline: none; display: block;" aria-disabled="false">
                <div class="ne elHeadline lh3 elMargin0 elBGStyle0 hsTextShadow0 hsSize21" style="text-align: center;" data-bold="inherit" contenteditable="false">We want to blow through our inventory so..</div>
            </div>
            <div class="de elHeadlineWrapper ui-droppable de-editable" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="none" data-animate="fade" data-delay="500" style="margin-top: 0px; display: block; cursor: pointer; outline: none;" aria-disabled="false">
                <div class="ne elHeadline hsSize3 lh3 elMargin0 elBGStyle0 hsTextShadow0 elFont_oswald" style="text-align: center;" data-bold="inherit" contenteditable="false" data-gramm="false" spellcheck="false">
                    For the Next 2 Hours Get it For Only
                    <a href="" id="link-654-74" class="" target="_self" style="color: rgb(60, 186, 89);">${{ Offer.SalePrice }}</a>
                    <a href="#" id="link-3561-316" class="" target="_self" style="color: rgb(42, 140, 52);">{{ Callout }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
