<div class="col-inner bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin">
    <div class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable" data-de-type="img" data-de-editing="false" data-title="image" data-ce="false" data-trigger="none" data-animate="fade" data-delay="500" style="margin-top: 30px; outline: none; cursor: pointer;" aria-disabled="false">
        <img src="https://i.imgur.com/h6MUyg1.png" class="elIMG ximg" alt="" width="250">
    </div>
    <div class="de elHeadlineWrapper ui-droppable de-editable" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="none" data-animate="fade" data-delay="500" style="margin-top: 40px; cursor: pointer; outline: none; display: block;" aria-disabled="false">
        <div class="ne elHeadline lh3 elMargin0 elBGStyle0 hsTextShadow0 elHeadlineIcon_none hsSize2 elFont_raleway" style="text-align: center;" data-bold="inherit" contenteditable="false" data-gramm="false" spellcheck="false">
            <i>{{ Body }}</i>
        </div>
    </div>
</div>
