<div class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" data-trigger="none" data-animate="fade" data-delay="500" data-title="1 column row" style="outline: none; margin-bottom: 0px; padding-top: 0px;">
    <div class="col-md-12 innerContent col_left" data-col="full" data-trigger="none" data-animate="fade" data-delay="500" data-title="full column" style="outline: none;">
        <div class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin">
            <div class="de elHeadlineWrapper ui-droppable de-editable" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="none" data-animate="fade" data-delay="500" style="margin-top: 0px; display: block; cursor: pointer; outline: none;" aria-disabled="false">
                <div class="ne elHeadline lh3 elMargin0 elBGStyle0 hsTextShadow0 hsSize4 elFont_global" style="text-align: center; font-size: 24px;" data-bold="inherit" contenteditable="false" data-gramm="false" spellcheck="false">
                    <i>{{ Title }}</i>
                </div>
            </div>
        </div>
    </div>
</div>
