{{#once 'embedly-css'}}
<style class="embedly-css">
    .hdr {
        display:none;
    }
</style>
{{/once}}

<blockquote class="embedly-card" data-card-controls="0" data-card-width="1080" data-card-recommend="0" data-card-key="836f50f57cdb4e10ac2849cc16563616">
    <h4><a href="{{ Url |> raw }}">{{ Url }}</a></h4>
</blockquote>
