<div class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" data-trigger="none" data-animate="fade" data-delay="500" data-title="1 column row" style="margin-bottom: 0px; outline: none;">
    <div class="col-md-12 innerContent col_left" data-col="full" data-trigger="none" data-animate="fade" data-delay="500" data-title="full column" style="outline: none;">
        <div class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin">
            <div class="de elBTN elAlign_center elMargin0 ui-droppable de-editable" data-de-type="button" data-de-editing="false" data-title="button" data-ce="false" data-trigger="none" data-animate="fade" data-delay="500" style="margin-top: 19px; cursor: pointer; outline: none; display: block;" aria-disabled="false" data-elbuttontype="1">
                <a href="https://checkout.2a4life.com/checkout/{{ Offer.OfferId }}" class="elButton elButtonColor1 elButtonFluid elButtonBottomBorder elButtonIcon0 elButtonTxtColor4 elButtonShadow3 elButtonSize3" style="color: rgb(255, 255, 255); background-color: rgb(9, 179, 80);">
                    <span class="elButtonMain">{{ CallToAction }}</span>
                    <span class="elButtonSub">For Only ${{ Offer.SalePrice }}</span>
                </a>
            </div>
        </div>
    </div>
</div>
