{{#truthy Title}}
<div class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" data-trigger="none" data-animate="fade" data-delay="500" data-title="1 column row" style="padding-top: 40px; padding-bottom: 40px; margin: 0px; outline: none;">
    <div class="col-md-12 innerContent col_left" data-col="full" data-trigger="none" data-animate="fade" data-delay="500" data-title="1st column" style="outline: none;">
        <div class="col-inner bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" style="padding: 0 10px">
            <div class="de elHeadlineWrapper ui-droppable de-editable" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="none" data-animate="fade" data-delay="500" style="margin-top: 0px; outline: none; cursor: pointer; display: block;" aria-disabled="false">
                <div class="ne elHeadline hsSize3 lh4 elMargin0 elBGStyle0 hsTextShadow0" style="text-align: center; font-size: 32px; color: rgba(241, 244, 248, 0.92);" data-bold="inherit" contenteditable="false" spellcheck="true">
                    <b>{{ Title }}</b>
                </div>
            </div>
        </div>
    </div>
</div>
{{/truthy}}
<div class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" data-trigger="none" data-animate="fade" data-delay="500" data-title="3 column row" style="padding-top: 40px; padding-bottom: 40px; margin: 0px; outline: none;">
    {{ Items |> render }}
</div>
