<div class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" data-trigger="none" data-animate="fade" data-delay="500" data-title="1 column row" style="outline: none; margin-bottom: 0px; padding-top: 0px;">
    <div class="col-md-12 innerContent col_left" data-col="full" data-trigger="none" data-animate="fade" data-delay="500" data-title="full column" style="outline: none;">
        {{#truthy Callout}}
        <div class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" data-trigger="none" data-animate="fade" data-delay="500" data-title="1 column row" style="padding-top: 0px; padding-bottom: 10px; margin: 0px; outline: none;">
            <div class="col-md-12 innerContent col_left" data-col="full" data-trigger="none" data-animate="fade" data-delay="500" data-title="1st column" style="outline: none;">
                <div class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" style="padding: 0 10px">
                    <div class="de elHeadlineWrapper ui-droppable de-editable" id="tmp_headline1-24762" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="none" data-animate="fade" data-delay="500" style='margin-top: 10px; outline: none; cursor: pointer; background-color: rgb(228, 59, 44); font-family: "Maven Pro", Helvetica, sans-serif !important;' data-google-font="Maven+Pro" aria-disabled="false">
                        <div class="ne elHeadline hsSize3 lh4 elMargin0 elBGStyle0 hsTextShadow0" style="text-align: center; font-size: 18px; color: rgb(255, 255, 255); background-color: rgb(228, 59, 44);" data-bold="inherit" contenteditable="false" data-gramm="false" spellcheck="false">
                            <b>{{ Callout }}</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/truthy}}
        <div class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin">
            <div class="de elHeadlineWrapper ui-droppable de-editable" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="none" data-animate="fade" data-delay="500" style="margin-top: 10px; display: block; cursor: pointer; outline: none;" aria-disabled="false">
                <div class="ne elHeadline lh3 elMargin0 elBGStyle0 hsTextShadow0 hsSize4 elFont_global" style="text-align: center;" data-bold="inherit" contenteditable="false" data-gramm="false" spellcheck="false">
                    <b>{{ Headline }}</b>
                </div>
            </div>
            {{#truthy SubHeadline}}
            <div class="de elHeadlineWrapper ui-droppable de-editable" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="none" data-animate="fade" data-delay="500" style="margin-top: 0px; display: block; cursor: pointer; outline: none;" aria-disabled="false">
                <div class="ne elHeadline lh3 elMargin0 elBGStyle0 hsTextShadow0 hsSize4 elFont_global" style="text-align: center; font-size: 24px;" data-bold="inherit" contenteditable="false" data-gramm="false" spellcheck="false">
                    <i>{{ SubHeadline }}</i>
                </div>
            </div>
            {{/truthy}}
        </div>
    </div>
</div>
