{{#truthy Title}}
<div class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" data-trigger="none" data-animate="fade" data-delay="500" data-title="1 column row" style="margin-bottom: 0px; outline: none; padding-top: 0px;">
    <div class="col-md-12 innerContent col_left" data-col="full" data-trigger="none" data-animate="fade" data-delay="500" data-title="full column" style="outline: none;">
        <div class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin">
            <div class="de ui-droppable de-editable" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="none" data-animate="fade" data-delay="500" style="margin-top: 20px; outline: none; cursor: pointer; display: block;" aria-disabled="false">
                <div class="ne elHeadline lh3 elMargin0 elBGStyle0 elFont_raleway hsSize27 hsTextShadow3" style="text-align: center; color: rgb(255, 255, 255);" data-bold="inherit" contenteditable="false">
                    <b>{{ Title }}</b>
                </div>
            </div>
        </div>
    </div>
</div>
{{/truthy}}
<div class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" data-trigger="none" data-animate="fade" data-delay="500" data-title="1 column row" style="padding-top: 20px; padding-bottom: 20px; margin: 0px; outline: none;">
    <div class="col-md-12 innerContent col_left" data-col="full" data-trigger="none" data-animate="fade" data-delay="500" data-title="1st column" style="outline: none;">
        <div class="col-inner bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" style="padding: 0 10px">
            <div class="de elBullet elMargin0 ui-droppable de-editable feature-benefit-list" data-de-type="list" data-de-editing="false" data-title="list" data-ce="true" data-trigger="none" data-animate="fade" data-delay="500" style="margin-top: 0px; cursor: pointer; outline: none; display: block;" aria-disabled="false">
                <ul class="ne elBulletList listIconBlack listIcon6 elFont_raleway listBorder0 listIconSize2 listSize3" data-bold="inherit" contenteditable="false" style="text-align: left; color: rgba(255, 255, 255, 0.470588);" bullet-color="rgba(16, 140, 235, 0.9)" data-gramm="false" spellcheck="false">
                    {{#each Items}}
                    <li>
                        <font color="#ffffff">
                        <b>{{ it.Feature |> raw }}</b>
                        {{#truthy it.Benefit}}
                        - {{ it.Benefit |> raw }}
                        {{/truthy}}
                        </font>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>
