<div class="col-md-4 innerContent col_left ui-resizable" data-col="left" data-trigger="none" data-animate="fade" data-delay="500" data-title="1st column" style="outline: none; padding-bottom: 40px;">
    <div class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" style="padding: 0 10px">
        <div class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable" data-de-type="img" data-de-editing="false" data-title="image" data-ce="false" data-trigger="none" data-animate="fade" data-delay="500" style="margin-top: 0px; outline: none; display: block; cursor: pointer;" aria-disabled="false">
            <img src="{{ Picture }}" class="elIMG ximg" alt="">
        </div>
    </div>
</div>
