<div class="col-inner bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin">
    <div class="de elHeadlineWrapper ui-droppable hiddenElementTools de-editable" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="none" data-animate="fade" data-delay="500" style="margin-top: 0px; outline: none; cursor: pointer;" aria-disabled="false">
        <div class="ne elHeadline hsSize3 lh4 elMargin0 elBGStyle0 hsTextShadow0" style="text-align: center; font-size: 14px; color: rgb(255, 255, 255);" data-bold="inherit" contenteditable="false" data-gramm="false" spellcheck="false">
            <div>
                <b>{{ Body }}</b>
            </div>
        </div>
    </div>
</div>
