<!DOCTYPE html>
<html lang="en" class="clickfunnels-com bgCover wf-proximanova-i4-active wf-proximanova-i7-active wf-proximanova-n4-active wf-proximanova-n7-active wf-active wf-proximanova-i3-active wf-proximanova-n3-active wf-proximanovasoft-n4-active wf-proximanovasoft-n7-active wf-proximasoft-n4-active wf-proximasoft-i4-active wf-proximasoft-i6-active wf-proximasoft-n6-active wf-proximasoft-i7-active wf-proximasoft-n7-active avcHn2VQJenBvoR5hilPG " style="overflow: initial;">
<head data-next-url="" data-this-url="https://shop.slabway.com/foot-massager-olr">
    <meta charset="UTF-8">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta name="viewport" content="initial-scale=1">
    <title>{{ Title }}</title>
    <meta class="metaTagTop" name="description" content="">
    <meta class="metaTagTop" name="keywords" content="clickfunnels, landing page, web site editor">
    <meta class="metaTagTop" name="author" content="Slabway">
    <meta class="metaTagTop" property="og:image" content="" id="social-image">
    <meta property="og:title" content="Shiatsu Foot Massager">
    <meta property="og:description" content="">
    <meta property="og:url" content="https://shop.slabway.com/foot-massager-olr">
    <meta property="og:type" content="website">
    <link rel="stylesheet" media="screen" href="//shop.slabway.com/assets/lander.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/v4-shims.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7COswald:400,700%7CDroid+Sans:400,700%7CRoboto:400,700%7CLato:400,700%7CPT+Sans:400,700%7CSource+Sans+Pro:400,600,700%7CNoto+Sans:400,700%7CPT+Sans:400,700%7CUbuntu:400,700%7CBitter:400,700%7CPT+Serif:400,700%7CRokkitt:400,700%7CDroid+Serif:400,700%7CRaleway:400,700%7CInconsolata:400,700" rel="stylesheet" type="text/css">
    <meta property="cf:funnel_id" content="bk01cjRMTkc5ZkVZelR2aDN6aDI4Zz09LS1rN3d3bk0vRkJEcVlMWGM3R3BTQkNnPT0=--2833d02a88cb72dea14affc822014afceefabded">
    <meta property="cf:page_id" content="di9haUdUL1YzWXYwcVUxOTJnak4xZz09LS1EdzcxbWtlTzBnL0UyS0RpSVBONzlBPT0=--0c564d1f54b85d77e208594053404ead4d8295eb">
    <meta property="cf:funnel_step_id" content="RTQ3Vk4vclIyekpRTTlDcnhjTVVnQT09LS1kbWFRVTdZZk4xK3ZmckhVMmNHVnlRPT0=--cfa4bca99e0d75630f23525c810d68c4ac8126dd">
    <meta property="cf:user_id" content="WXpqZFJQSU51dHNHclMwclZ0TkNXQT09LS11VjlqSjdXTVYrRnlBWjNxWkk5eHlnPT0=--9f02fffc694a56eed5a9c121cf78833050564a71">
    <meta property="cf:account_id" content="VXo3UWt0TnVETktpYVp0ek5FZjJMZz09LS1od2RKVDJDZzhVRXEzZW9NS1lHNU9nPT0=--232929676ab1025fe7a008c2672187bca2abd72f">
    <meta property="cf:page_code" content="MzcwNjI5ODM=">
    <meta property="cf:mode_id" content="1">
    <meta property="cf:time_zone" content="America/Denver">
    <meta property="cf:app_domain" content="app.clickfunnels.com">
    <script src="https://browser.sentry-cdn.com/5.20.0/bundle.min.js" integrity="sha384-mmBh0B1uYbzmP0q9QcqWr4el7gVXBSY0hWB2U8cNhNZi/RIuVQRp7pm1NlPOa644" crossorigin="anonymous"></script>
    <script>
        Sentry.init({ dsn: 'https://f70485d422c444d695a7ef933b859202@o323204.ingest.sentry.io/5354234' });
    </script>
    <script src="//shop.slabway.com/assets/userevents/application.js"></script>
    <style>
        [data-timed-style='fade'] {
            display: none
        }

        [data-timed-style='scale'] {
            display: none
        }
    </style>
    <link rel='icon' type='image/png' href=''>
    </link>
    {{ Blocks |> render('head-scripts') }}
</head>
<body data-affiliate-param="affiliate_id" data-show-progress="true">
{{ Blocks |> render('body-init') }}
<svg xmlns="http://www.w3.org/2000/svg" style="display: none !important">
    <filter id="grayscale">
        <fecolormatrix type="matrix" values="0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0"></fecolormatrix>
    </filter>
</svg>
<div class="containerWrapper">
    <textarea id="tracking-body-top" style="display: none !important"></textarea>
    <input type="hidden" id="submit-form-action" value="redirect-url" data-url="#" data-ar-service="" data-ar-list="" data-webhook="">
    <div class="nodoHiddenFormFields hide">
        <input type="hidden" id="elHidden1" class="elInputHidden elInput" name="ad">
        <input type="hidden" id="elHidden2" class="elInputHidden elInput" name="tag">
        <input type="hidden" id="elHidden3" class="elInputHidden elInput" name="">
        <input type="hidden" id="elHidden4" class="elInputHidden elInput" name="">
        <input type="hidden" id="elHidden5" class="elInputHidden elInput" name="">
    </div>
    <div class="nodoCustomHTML hide"></div>
    <div class="modalBackdropWrapper" style="display: none; background-color: rgba(0, 0, 0, 0.4); height: 100%;"></div>
    <div class="container containerModal midContainer noTopMargin padding40-top padding40-bottom padding40H noBorder borderSolid border3px cornersAll radius10 shadow0 bgNoRepeat emptySection" id="modalPopup" data-title="Modal" data-block-color="0074C7" style="display: none; margin-top: 100px; padding-top: 40px; padding-bottom: 40px; outline: none; background-color: rgb(255, 255, 255);" data-trigger="none" data-animate="top" data-delay="0">
        <div class="containerInner ui-sortable"></div>
        <div class="closeLPModal">
            <img src="https://www.clickfunnels.com/images/closemodal.png" alt="">
        </div>
    </div>
    <div class="dropZoneForSections ui-droppable" style="display: none;">
        <div class="dropIconr">
            <i class="fa fa-plus"></i>
        </div>
    </div>
    <div class="container noTopMargin padding40-top padding40-bottom padding40H borderSolid border3px cornersAll radius0 shadow0 activeSection_topBorder0 activeSection_bottomBorder0 fullContainer borderLightTopBottom activeSection_topBorder2.22222 activeSection_bottomBorder2.22222 bgCover emptySection" id="section-8703610000" data-title="Section" data-block-color="0074C7" style="border-color: rgba(0, 0, 0, 0.33); padding-top: 0px; padding-bottom: 0px; outline: none; background-color: rgba(0, 117, 178, 0.9);" data-trigger="none" data-animate="fade" data-delay="500">
        <div class="containerInner ui-sortable">
            <div class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin innerToolsTop" id="row--92119" data-trigger="none" data-animate="fade" data-delay="500" data-title="1 column row" style="padding-top: 0px; padding-bottom: 0px; margin: 0px; outline: none;">
                <div id="col-full-152" class="col-md-12 innerContent col_left" data-col="full" data-trigger="none" data-animate="fade" data-delay="500" data-title="1st column" style="outline: none;">
                    <div class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" style="padding: 0 10px">
                        <div class="de elImageWrapper de-image-block elMargin0 ui-droppable elAlign_center de-editable" id="tmp_image-76112" data-de-type="img" data-de-editing="false" data-title="image" data-ce="false" data-trigger="none" data-animate="fade" data-delay="500" style="margin-top: 0px; outline: none; cursor: pointer;" aria-disabled="false">
                            <img src="//shop.slabway.com/hosted/images/50/0c7ce0006611e897f33fe4b837fd7e/logo-PNG-White.png" class="elIMG ximg" alt="" width="250">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ page }}
    <div class="container noTopMargin padding40-top padding40-bottom padding40H noBorder borderSolid border3px cornersAll radius0 shadow0 bgNoRepeat activeSection_topBorder0 activeSection_bottomBorder0 fullContainer emptySection" id="section-87810000" data-title="Section" data-block-color="0074C7" style="padding-top: 40px; padding-bottom: 40px; outline: none; background-color: rgba(0, 117, 178, 0.9);" data-trigger="none" data-animate="fade" data-delay="500">
        <div class="containerInner ui-sortable">
            <div class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" id="row--10009" data-trigger="none" data-animate="fade" data-delay="500" data-title="1 column row" style="margin-bottom: 0px; outline: none;">
                <div id="col-full-181" class="col-md-12 innerContent col_left" data-col="full" data-trigger="none" data-animate="fade" data-delay="500" data-title="full column" style="outline: none;">
                    <div class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin">
                        <div class="de elHeadlineWrapper ui-droppable de-editable" id="tmp_headline1-77295" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="none" data-animate="fade" data-delay="500" style="margin-top: 10px; cursor: pointer; outline: none;" aria-disabled="false">
                            <div class="ne elHeadline lh3 elMargin0 elBGStyle0 hsTextShadow0 hsSize0" style="text-align: center; color: rgb(255, 255, 255);" data-bold="inherit" contenteditable="false">Copyright © 2020 - Sticky My - Contact: Care@Slabway.com - 858 S. Auto Mall Dr. #101, American Fork, UT 84003</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style id="button_style_tmp_button-35601">
        #tmp_button-35601 .elButtonFlat:hover {
            background-color: #d2322d !important;
        }

        #tmp_button-35601 .elButtonBottomBorder:hover {
            background-color: #d2322d !important;
        }

        #tmp_button-35601 .elButtonSubtle:hover {
            background-color: #d2322d !important;
        }

        #tmp_button-35601 .elButtonGradient {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(217, 83, 79)), color-stop(1, #d2322d));
            background-image: -o-linear-gradient(bottom, rgb(217, 83, 79) 0%, #d2322d 100%);
            background-image: -moz-linear-gradient(bottom, rgb(217, 83, 79) 0%, #d2322d 100%);
            background-image: -webkit-linear-gradient(bottom, rgb(217, 83, 79) 0%, #d2322d 100%);
            background-image: -ms-linear-gradient(bottom, rgb(217, 83, 79) 0%, #d2322d 100%);
            background-image: linear-gradient(to bottom, rgb(217, 83, 79) 0%, #d2322d 100%);
        }

        #tmp_button-35601 .elButtonGradient:hover {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1, rgb(217, 83, 79)), color-stop(0, #d2322d));
            background-image: -o-linear-gradient(bottom, rgb(217, 83, 79) 100%, #d2322d 0%);
            background-image: -moz-linear-gradient(bottom, rgb(217, 83, 79) 100%, #d2322d 0%);
            background-image: -webkit-linear-gradient(bottom, rgb(217, 83, 79) 100%, #d2322d 0%);
            background-image: -ms-linear-gradient(bottom, rgb(217, 83, 79) 100%, #d2322d 0%);
            background-image: linear-gradient(to bottom, rgb(217, 83, 79) 100%, #d2322d 0%);
        }

        #tmp_button-35601 .elButtonBorder {
            border: 3px solid rgb(217, 83, 79) !important;
            color: rgb(217, 83, 79) !important;
        }

        #tmp_button-35601 .elButtonBorder:hover {
            background-color: rgb(217, 83, 79) !important;
            color: #FFF !important;
        }
    </style>
    <style id="button_style_button-21829">
        #button-21829 .elButtonFlat:hover {
            background-color: #d2322d !important;
        }

        #button-21829 .elButtonBottomBorder:hover {
            background-color: #d2322d !important;
        }

        #button-21829 .elButtonSubtle:hover {
            background-color: #d2322d !important;
        }

        #button-21829 .elButtonGradient {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(217, 83, 79)), color-stop(1, #d2322d));
            background-image: -o-linear-gradient(bottom, rgb(217, 83, 79) 0%, #d2322d 100%);
            background-image: -moz-linear-gradient(bottom, rgb(217, 83, 79) 0%, #d2322d 100%);
            background-image: -webkit-linear-gradient(bottom, rgb(217, 83, 79) 0%, #d2322d 100%);
            background-image: -ms-linear-gradient(bottom, rgb(217, 83, 79) 0%, #d2322d 100%);
            background-image: linear-gradient(to bottom, rgb(217, 83, 79) 0%, #d2322d 100%);
        }

        #button-21829 .elButtonGradient:hover {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1, rgb(217, 83, 79)), color-stop(0, #d2322d));
            background-image: -o-linear-gradient(bottom, rgb(217, 83, 79) 100%, #d2322d 0%);
            background-image: -moz-linear-gradient(bottom, rgb(217, 83, 79) 100%, #d2322d 0%);
            background-image: -webkit-linear-gradient(bottom, rgb(217, 83, 79) 100%, #d2322d 0%);
            background-image: -ms-linear-gradient(bottom, rgb(217, 83, 79) 100%, #d2322d 0%);
            background-image: linear-gradient(to bottom, rgb(217, 83, 79) 100%, #d2322d 0%);
        }

        #button-21829 .elButtonBorder {
            border: 3px solid rgb(217, 83, 79) !important;
            color: rgb(217, 83, 79) !important;
        }

        #button-21829 .elButtonBorder:hover {
            background-color: rgb(217, 83, 79) !important;
            color: #FFF !important;
        }
    </style>
    <style id="button_style_button-59763">
        #button-59763 .elButtonFlat:hover {
            background-color: #d2322d !important;
        }

        #button-59763 .elButtonBottomBorder:hover {
            background-color: #d2322d !important;
        }

        #button-59763 .elButtonSubtle:hover {
            background-color: #d2322d !important;
        }

        #button-59763 .elButtonGradient {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(217, 83, 79)), color-stop(1, #d2322d));
            background-image: -o-linear-gradient(bottom, rgb(217, 83, 79) 0%, #d2322d 100%);
            background-image: -moz-linear-gradient(bottom, rgb(217, 83, 79) 0%, #d2322d 100%);
            background-image: -webkit-linear-gradient(bottom, rgb(217, 83, 79) 0%, #d2322d 100%);
            background-image: -ms-linear-gradient(bottom, rgb(217, 83, 79) 0%, #d2322d 100%);
            background-image: linear-gradient(to bottom, rgb(217, 83, 79) 0%, #d2322d 100%);
        }

        #button-59763 .elButtonGradient:hover {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1, rgb(217, 83, 79)), color-stop(0, #d2322d));
            background-image: -o-linear-gradient(bottom, rgb(217, 83, 79) 100%, #d2322d 0%);
            background-image: -moz-linear-gradient(bottom, rgb(217, 83, 79) 100%, #d2322d 0%);
            background-image: -webkit-linear-gradient(bottom, rgb(217, 83, 79) 100%, #d2322d 0%);
            background-image: -ms-linear-gradient(bottom, rgb(217, 83, 79) 100%, #d2322d 0%);
            background-image: linear-gradient(to bottom, rgb(217, 83, 79) 100%, #d2322d 0%);
        }

        #button-59763 .elButtonBorder {
            border: 3px solid rgb(217, 83, 79) !important;
            color: rgb(217, 83, 79) !important;
        }

        #button-59763 .elButtonBorder:hover {
            background-color: rgb(217, 83, 79) !important;
            color: #FFF !important;
        }
    </style>
    <style id="button_style_tmp_button-35601-147">
        #tmp_button-35601-147 .elButtonFlat:hover {
            background-color: #d2322d !important;
        }

        #tmp_button-35601-147 .elButtonBottomBorder:hover {
            background-color: #d2322d !important;
        }

        #tmp_button-35601-147 .elButtonSubtle:hover {
            background-color: #d2322d !important;
        }

        #tmp_button-35601-147 .elButtonGradient {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(217, 83, 79)), color-stop(1, #d2322d));
            background-image: -o-linear-gradient(bottom, rgb(217, 83, 79) 0%, #d2322d 100%);
            background-image: -moz-linear-gradient(bottom, rgb(217, 83, 79) 0%, #d2322d 100%);
            background-image: -webkit-linear-gradient(bottom, rgb(217, 83, 79) 0%, #d2322d 100%);
            background-image: -ms-linear-gradient(bottom, rgb(217, 83, 79) 0%, #d2322d 100%);
            background-image: linear-gradient(to bottom, rgb(217, 83, 79) 0%, #d2322d 100%);
        }

        #tmp_button-35601-147 .elButtonGradient:hover {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1, rgb(217, 83, 79)), color-stop(0, #d2322d));
            background-image: -o-linear-gradient(bottom, rgb(217, 83, 79) 100%, #d2322d 0%);
            background-image: -moz-linear-gradient(bottom, rgb(217, 83, 79) 100%, #d2322d 0%);
            background-image: -webkit-linear-gradient(bottom, rgb(217, 83, 79) 100%, #d2322d 0%);
            background-image: -ms-linear-gradient(bottom, rgb(217, 83, 79) 100%, #d2322d 0%);
            background-image: linear-gradient(to bottom, rgb(217, 83, 79) 100%, #d2322d 0%);
        }

        #tmp_button-35601-147 .elButtonBorder {
            border: 3px solid rgb(217, 83, 79) !important;
            color: rgb(217, 83, 79) !important;
        }

        #tmp_button-35601-147 .elButtonBorder:hover {
            background-color: rgb(217, 83, 79) !important;
            color: #FFF !important;
        }
    </style>
    <style id="button_style_tmp_button-48128">
        #tmp_button-48128 .elButtonFlat:hover {
            background-color: #07823a !important;
        }

        #tmp_button-48128 .elButtonBottomBorder:hover {
            background-color: #07823a !important;
        }

        #tmp_button-48128 .elButtonSubtle:hover {
            background-color: #07823a !important;
        }

        #tmp_button-48128 .elButtonGradient {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(9, 179, 80)), color-stop(1, #07823a));
            background-image: -o-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: -moz-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: -webkit-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: -ms-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: linear-gradient(to bottom, rgb(9, 179, 80) 0%, #07823a 100%);
        }

        #tmp_button-48128 .elButtonGradient:hover {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1, rgb(9, 179, 80)), color-stop(0, #07823a));
            background-image: -o-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: -moz-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: -webkit-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: -ms-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: linear-gradient(to bottom, rgb(9, 179, 80) 100%, #07823a 0%);
        }

        #tmp_button-48128 .elButtonBorder {
            border: 3px solid rgb(9, 179, 80) !important;
            color: rgb(9, 179, 80) !important;
        }

        #tmp_button-48128 .elButtonBorder:hover {
            background-color: rgb(9, 179, 80) !important;
            color: #FFF !important;
        }
    </style>
    <style id="button_style_button-93178">
        #button-93178 .elButtonFlat:hover {
            background-color: #07823a !important;
        }

        #button-93178 .elButtonBottomBorder:hover {
            background-color: #07823a !important;
        }

        #button-93178 .elButtonSubtle:hover {
            background-color: #07823a !important;
        }

        #button-93178 .elButtonGradient {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(9, 179, 80)), color-stop(1, #07823a));
            background-image: -o-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: -moz-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: -webkit-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: -ms-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: linear-gradient(to bottom, rgb(9, 179, 80) 0%, #07823a 100%);
        }

        #button-93178 .elButtonGradient:hover {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1, rgb(9, 179, 80)), color-stop(0, #07823a));
            background-image: -o-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: -moz-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: -webkit-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: -ms-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: linear-gradient(to bottom, rgb(9, 179, 80) 100%, #07823a 0%);
        }

        #button-93178 .elButtonBorder {
            border: 3px solid rgb(9, 179, 80) !important;
            color: rgb(9, 179, 80) !important;
        }

        #button-93178 .elButtonBorder:hover {
            background-color: rgb(9, 179, 80) !important;
            color: #FFF !important;
        }
    </style>
    <style id="button_style_button-93178-168">
        #button-93178-168 .elButtonFlat:hover {
            background-color: #07823a !important;
        }

        #button-93178-168 .elButtonBottomBorder:hover {
            background-color: #07823a !important;
        }

        #button-93178-168 .elButtonSubtle:hover {
            background-color: #07823a !important;
        }

        #button-93178-168 .elButtonGradient {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(9, 179, 80)), color-stop(1, #07823a));
            background-image: -o-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: -moz-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: -webkit-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: -ms-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: linear-gradient(to bottom, rgb(9, 179, 80) 0%, #07823a 100%);
        }

        #button-93178-168 .elButtonGradient:hover {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1, rgb(9, 179, 80)), color-stop(0, #07823a));
            background-image: -o-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: -moz-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: -webkit-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: -ms-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: linear-gradient(to bottom, rgb(9, 179, 80) 100%, #07823a 0%);
        }

        #button-93178-168 .elButtonBorder {
            border: 3px solid rgb(9, 179, 80) !important;
            color: rgb(9, 179, 80) !important;
        }

        #button-93178-168 .elButtonBorder:hover {
            background-color: rgb(9, 179, 80) !important;
            color: #FFF !important;
        }
    </style>
    <style id="button_style_button-43101">
        #button-43101 .elButtonFlat:hover {
            background-color: #07823a !important;
        }

        #button-43101 .elButtonBottomBorder:hover {
            background-color: #07823a !important;
        }

        #button-43101 .elButtonSubtle:hover {
            background-color: #07823a !important;
        }

        #button-43101 .elButtonGradient {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(9, 179, 80)), color-stop(1, #07823a));
            background-image: -o-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: -moz-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: -webkit-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: -ms-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: linear-gradient(to bottom, rgb(9, 179, 80) 0%, #07823a 100%);
        }

        #button-43101 .elButtonGradient:hover {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1, rgb(9, 179, 80)), color-stop(0, #07823a));
            background-image: -o-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: -moz-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: -webkit-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: -ms-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: linear-gradient(to bottom, rgb(9, 179, 80) 100%, #07823a 0%);
        }

        #button-43101 .elButtonBorder {
            border: 3px solid rgb(9, 179, 80) !important;
            color: rgb(9, 179, 80) !important;
        }

        #button-43101 .elButtonBorder:hover {
            background-color: rgb(9, 179, 80) !important;
            color: #FFF !important;
        }
    </style>
    <style id="button_style_tmp_textblock-39181">
        #tmp_textblock-39181 .elButtonFlat:hover {
            background-color: #ebebeb !important;
        }

        #tmp_textblock-39181 .elButtonBottomBorder:hover {
            background-color: #ebebeb !important;
        }

        #tmp_textblock-39181 .elButtonSubtle:hover {
            background-color: #ebebeb !important;
        }

        #tmp_textblock-39181 .elButtonGradient {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(255, 255, 255)), color-stop(1, #ebebeb));
            background-image: -o-linear-gradient(bottom, rgb(255, 255, 255) 0%, #ebebeb 100%);
            background-image: -moz-linear-gradient(bottom, rgb(255, 255, 255) 0%, #ebebeb 100%);
            background-image: -webkit-linear-gradient(bottom, rgb(255, 255, 255) 0%, #ebebeb 100%);
            background-image: -ms-linear-gradient(bottom, rgb(255, 255, 255) 0%, #ebebeb 100%);
            background-image: linear-gradient(to bottom, rgb(255, 255, 255) 0%, #ebebeb 100%);
        }

        #tmp_textblock-39181 .elButtonGradient:hover {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1, rgb(255, 255, 255)), color-stop(0, #ebebeb));
            background-image: -o-linear-gradient(bottom, rgb(255, 255, 255) 100%, #ebebeb 0%);
            background-image: -moz-linear-gradient(bottom, rgb(255, 255, 255) 100%, #ebebeb 0%);
            background-image: -webkit-linear-gradient(bottom, rgb(255, 255, 255) 100%, #ebebeb 0%);
            background-image: -ms-linear-gradient(bottom, rgb(255, 255, 255) 100%, #ebebeb 0%);
            background-image: linear-gradient(to bottom, rgb(255, 255, 255) 100%, #ebebeb 0%);
        }

        #tmp_textblock-39181 .elButtonGradient2 {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(255, 255, 255)), color-stop(1, #ebebeb));
            background-image: -o-linear-gradient(bottom, rgb(255, 255, 255) 30%, #ebebeb 80%);
            background-image: -moz-linear-gradient(bottom, rgb(255, 255, 255) 30%, #ebebeb 80%);
            background-image: -webkit-linear-gradient(bottom, rgb(255, 255, 255) 30%, #ebebeb 80%);
            background-image: -ms-linear-gradient(bottom, rgb(255, 255, 255) 30%, #ebebeb 80%);
            background-image: linear-gradient(to bottom, rgb(255, 255, 255) 30%, #ebebeb 80%);
        }

        #tmp_textblock-39181 .elButtonGradient2:hover {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1, rgb(255, 255, 255)), color-stop(0, #ebebeb));
            background-image: -o-linear-gradient(bottom, rgb(255, 255, 255) 100%, #ebebeb 30%);
            background-image: -moz-linear-gradient(bottom, rgb(255, 255, 255) 100%, #ebebeb 30%);
            background-image: -webkit-linear-gradient(bottom, rgb(255, 255, 255) 100%, #ebebeb 30%);
            background-image: -ms-linear-gradient(bottom, rgb(255, 255, 255) 100%, #ebebeb 30%);
            background-image: linear-gradient(to bottom, rgb(255, 255, 255) 100%, #ebebeb 30%);
        }

        #tmp_textblock-39181 .elButtonBorder {
            border: 3px solid rgb(255, 255, 255) !important;
            color: rgb(255, 255, 255) !important;
        }

        #tmp_textblock-39181 .elButtonBorder:hover {
            background-color: rgb(255, 255, 255) !important;
            color: #000 !important;
        }
    </style>
    <style id="bold_style_tmp_headline1-58530">
        #tmp_headline1-58530 .elHeadline b {
            color: rgb(255, 255, 255);
        }
    </style>
    <style id="bold_style_tmp_list-94266">
        #tmp_list-94266 .elBulletList b {
            color: rgb(255, 255, 255);
        }
    </style>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=sans-serif%7CRaleway%7Csans-serif%7COswald+sans-serif%7Csans-serif%7CHelvetica+Neue+Helvetica+Arial+sans-serif%7Csans-serif%7COswald+sans-serif%7Csans-serif%7C%7C" id="custom_google_font">
    <style id="button_style_button-93178-103-123">
        #button-93178-103-123 .elButtonFlat:hover {
            background-color: #07823a !important;
        }

        #button-93178-103-123 .elButtonBottomBorder:hover {
            background-color: #07823a !important;
        }

        #button-93178-103-123 .elButtonSubtle:hover {
            background-color: #07823a !important;
        }

        #button-93178-103-123 .elButtonGradient {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(9, 179, 80)), color-stop(1, #07823a));
            background-image: -o-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: -moz-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: -webkit-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: -ms-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: linear-gradient(to bottom, rgb(9, 179, 80) 0%, #07823a 100%);
        }

        #button-93178-103-123 .elButtonGradient:hover {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1, rgb(9, 179, 80)), color-stop(0, #07823a));
            background-image: -o-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: -moz-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: -webkit-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: -ms-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: linear-gradient(to bottom, rgb(9, 179, 80) 100%, #07823a 0%);
        }

        #button-93178-103-123 .elButtonBorder {
            border: 3px solid rgb(9, 179, 80) !important;
            color: rgb(9, 179, 80) !important;
        }

        #button-93178-103-123 .elButtonBorder:hover {
            background-color: rgb(9, 179, 80) !important;
            color: #FFF !important;
        }
    </style>
    <style id="bold_style_tmp_headline1-37113">
        #tmp_headline1-37113 .elHeadline b {
            color: rgb(7, 130, 58);
        }
    </style>
    <style id="bold_style_tmp_headline1-27833">
        #tmp_headline1-27833 .elHeadline b {
            color: rgba(255, 255, 255, 0.9);
        }
    </style>
    <style id="bullet_list_icon_color_tmp_list-94266">
        #tmp_list-94266 li:before {
            color: rgba(7, 45, 74, 0.9) !important;
        }
    </style>
    <style id="button_style_headline-36955">
        #headline-36955 .elButtonFlat:hover {
            background-color: #c79a17 !important;
        }

        #headline-36955 .elButtonBottomBorder:hover {
            background-color: #c79a17 !important;
        }

        #headline-36955 .elButtonSubtle:hover {
            background-color: #c79a17 !important;
        }

        #headline-36955 .elButtonGradient {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(229, 179, 34)), color-stop(1, #c79a17));
            background-image: -o-linear-gradient(bottom, rgb(229, 179, 34) 0%, #c79a17 100%);
            background-image: -moz-linear-gradient(bottom, rgb(229, 179, 34) 0%, #c79a17 100%);
            background-image: -webkit-linear-gradient(bottom, rgb(229, 179, 34) 0%, #c79a17 100%);
            background-image: -ms-linear-gradient(bottom, rgb(229, 179, 34) 0%, #c79a17 100%);
            background-image: linear-gradient(to bottom, rgb(229, 179, 34) 0%, #c79a17 100%);
        }

        #headline-36955 .elButtonGradient:hover {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1, rgb(229, 179, 34)), color-stop(0, #c79a17));
            background-image: -o-linear-gradient(bottom, rgb(229, 179, 34) 100%, #c79a17 0%);
            background-image: -moz-linear-gradient(bottom, rgb(229, 179, 34) 100%, #c79a17 0%);
            background-image: -webkit-linear-gradient(bottom, rgb(229, 179, 34) 100%, #c79a17 0%);
            background-image: -ms-linear-gradient(bottom, rgb(229, 179, 34) 100%, #c79a17 0%);
            background-image: linear-gradient(to bottom, rgb(229, 179, 34) 100%, #c79a17 0%);
        }

        #headline-36955 .elButtonGradient2 {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(229, 179, 34)), color-stop(1, #c79a17));
            background-image: -o-linear-gradient(bottom, rgb(229, 179, 34) 30%, #c79a17 80%);
            background-image: -moz-linear-gradient(bottom, rgb(229, 179, 34) 30%, #c79a17 80%);
            background-image: -webkit-linear-gradient(bottom, rgb(229, 179, 34) 30%, #c79a17 80%);
            background-image: -ms-linear-gradient(bottom, rgb(229, 179, 34) 30%, #c79a17 80%);
            background-image: linear-gradient(to bottom, rgb(229, 179, 34) 30%, #c79a17 80%);
        }

        #headline-36955 .elButtonGradient2:hover {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1, rgb(229, 179, 34)), color-stop(0, #c79a17));
            background-image: -o-linear-gradient(bottom, rgb(229, 179, 34) 100%, #c79a17 30%);
            background-image: -moz-linear-gradient(bottom, rgb(229, 179, 34) 100%, #c79a17 30%);
            background-image: -webkit-linear-gradient(bottom, rgb(229, 179, 34) 100%, #c79a17 30%);
            background-image: -ms-linear-gradient(bottom, rgb(229, 179, 34) 100%, #c79a17 30%);
            background-image: linear-gradient(to bottom, rgb(229, 179, 34) 100%, #c79a17 30%);
        }

        #headline-36955 .elButtonBorder {
            border: 3px solid rgb(229, 179, 34) !important;
            color: rgb(229, 179, 34) !important;
        }

        #headline-36955 .elButtonBorder:hover {
            background-color: rgb(229, 179, 34) !important;
            color: #FFF !important;
        }
    </style>
    <style id="button_style_button-54702">
        #button-54702 .elButtonFlat:hover {
            background-color: #07823a !important;
        }

        #button-54702 .elButtonBottomBorder:hover {
            background-color: #07823a !important;
        }

        #button-54702 .elButtonSubtle:hover {
            background-color: #07823a !important;
        }

        #button-54702 .elButtonGradient {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(9, 179, 80)), color-stop(1, #07823a));
            background-image: -o-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: -moz-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: -webkit-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: -ms-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: linear-gradient(to bottom, rgb(9, 179, 80) 0%, #07823a 100%);
        }

        #button-54702 .elButtonGradient:hover {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1, rgb(9, 179, 80)), color-stop(0, #07823a));
            background-image: -o-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: -moz-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: -webkit-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: -ms-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: linear-gradient(to bottom, rgb(9, 179, 80) 100%, #07823a 0%);
        }

        #button-54702 .elButtonBorder {
            border: 3px solid rgb(9, 179, 80) !important;
            color: rgb(9, 179, 80) !important;
        }

        #button-54702 .elButtonBorder:hover {
            background-color: rgb(9, 179, 80) !important;
            color: #FFF !important;
        }
    </style>
    <style id="button_style_button-47570">
        #button-47570 .elButtonFlat:hover {
            background-color: #07823a !important;
        }

        #button-47570 .elButtonBottomBorder:hover {
            background-color: #07823a !important;
        }

        #button-47570 .elButtonSubtle:hover {
            background-color: #07823a !important;
        }

        #button-47570 .elButtonGradient {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(9, 179, 80)), color-stop(1, #07823a));
            background-image: -o-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: -moz-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: -webkit-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: -ms-linear-gradient(bottom, rgb(9, 179, 80) 0%, #07823a 100%);
            background-image: linear-gradient(to bottom, rgb(9, 179, 80) 0%, #07823a 100%);
        }

        #button-47570 .elButtonGradient:hover {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1, rgb(9, 179, 80)), color-stop(0, #07823a));
            background-image: -o-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: -moz-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: -webkit-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: -ms-linear-gradient(bottom, rgb(9, 179, 80) 100%, #07823a 0%);
            background-image: linear-gradient(to bottom, rgb(9, 179, 80) 100%, #07823a 0%);
        }

        #button-47570 .elButtonBorder {
            border: 3px solid rgb(9, 179, 80) !important;
            color: rgb(9, 179, 80) !important;
        }

        #button-47570 .elButtonBorder:hover {
            background-color: rgb(9, 179, 80) !important;
            color: #FFF !important;
        }
    </style>
    <input type="hidden" name="cf-state-county-dropdown-feature-enabled" value="true">
</div>
<style id="custom-css"></style>
<input type="hidden" value="37062983" id="page-id">
<input type="hidden" value="37062983" id="root-id">
<input type="hidden" value="core" id="variant-check">
<input type="hidden" value="258021" id="user-id">
<input type="hidden" value="" id="cf-cid">
<script>
    function CFFacebookMessengerCheckbox() {}
    CFFacebookMessengerCheckbox.endpoint = "https://app.clickfunnels.com/facebook_user_ref";
</script>
<script type="text/javascript">
    window.CFAppDomain = "app.clickfunnels.com"
</script>
<script src="//shop.slabway.com/assets/lander.js"></script>
<div id="fb-root"></div>
<!--[if lt IE 9]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
<![endif]-->
<span class="countdown-time" style="display:none;"></span>
<span class="webinar-last-time" style="display:none;"></span>
<span class="webinar-ext" style="display:none;"></span>
<span class="webinar-ot" style="display:none;"></span>
<span class="contact-created" style="display:none;"></span>
<script>
</script>
<div class="otoloading" style="display: none;">
    <div class="otoloadingtext">
        <h2>Working...</h2>
        <div>
            <i class="fa fa-spinner fa-spin"></i>
        </div>
    </div>
</div>
<script type="text/javascript">
    document.createElement('video');
    document.createElement('audio');
    document.createElement('track');
</script>
<style>
    #IntercomDefaultWidget {
        display: none;
    }

    .selectAW-date-demo, .elTicketAddToCalendar, .elTicketAddToCalendarV2 {
        display: none;
    }

    .video-js {
        padding-top: 56.25%;
    }

    .vjs-big-play-button, .vjs-control-bar {
        z-index: 10 !important;
    }

    .vjs-fullscreen {
        padding-top: 0;
    }
</style>
<script>
    var page_key = 'bnee5bn4m818xnzk';
    var fid = '8737052';
    var fspos = '1';
    var fvrs = '8';
    var cf_tracker = cf_tracker || [];
    (function() {
        cf_key = 'rnuqlybw';
        page_key = 'bnee5bn4m818xnzk';
        serverUrl = '//shop.slabway.com/images/background.png';
        var cf = document.createElement('script');
        cf.type = 'text/javascript';
        cf.async = true;
        cf.src = '//shop.slabway.com/vendor.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(cf, s);
    })();
</script>
<script type="text/javascript">
    function getURLParameter(e) {
        return decodeURIComponent((RegExp(e + "=(.+?)(&|$)").exec(location.search) || [, null])[1])
    }
    function getURLParameterExact(e) {
        for (var t = window.location.search.substring(1).split("&"), n = 0; n < t.length; n++) {
            var r = t[n].split("=");
            if (r[0] == e)
                return r[1]
        }
    }
</script>
<script type="text/javascript">
    window.addEventListener("load", function() {
        $(function() {
            "null" != getURLParameter("email") && ($('input[name="contact[email]"]').val(getURLParameterExact("email")), $("[name=email]").val(getURLParameterExact("email"))), "null" != getURLParameter("name") && ($('input[name="contact[name]"]').val(getURLParameterExact("name")), $("[name=name]").val(getURLParameterExact("name"))), "null" != getURLParameter("first_name") && ($('input[name="contact[first_name]"]').val(getURLParameter("first_name")), $("[name=first_name]").val(getURLParameter("first_name"))), "null" != getURLParameter("last_name") && ($('input[name="contact[last_name]"]').val(getURLParameter("last_name")), $("[name=last_name]").val(getURLParameter("last_name"))), "null" != getURLParameter("address_1") && ($('input[name="contact[address_1]"]').val(getURLParameter("address")), $("[name=address_1]").val(getURLParameter("address_1"))), "null" != getURLParameter("address_2") && ($('input[name="contact[address_1]"]').val(getURLParameter("address")), $("[name=address_2]").val(getURLParameter("address_2"))), "null" != getURLParameter("city") && ($('input[name="contact[city]"]').val(getURLParameter("city")), $("[name=city]").val(getURLParameter("city"))), "null" != getURLParameter("state") && ($('input[name="contact[state]"]').val(getURLParameter("state")), $("[name=state]").val(getURLParameter("state"))), "null" != getURLParameter("zip") && ($('input[name="contact[zip]"]').val(getURLParameter("zip")), $("[name=zip]").val(getURLParameter("zip"))), "null" != getURLParameter("phone") && ($('input[name="contact[phone]"]').val(getURLParameter("phone")), $("[name=phone]").val(getURLParameter("phone")))
        })
    });
</script>
<script type='text/javascript'>
    if (localStorage.getItem('cf_uvid') != null) {
        start_page_notifier(localStorage.getItem('cf_uvid'), 'MjU4MDIx')
    }
</script>
{{ Blocks |> render('tail-scripts') }}
</body>
</html>

