<div class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" data-trigger="none" data-animate="fade" data-delay="500" data-title="1 column row" style="outline: none; margin-bottom: 0px; padding-top: 0px;">
    <div class="col-md-12 innerContent col_left" data-col="full" data-trigger="none" data-animate="fade" data-delay="500" data-title="full column" style="outline: none;">
        <div class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin">
            {{#truthy Callout}}
            <div class="de elHeadlineWrapper ui-droppable de-editable" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="none" data-animate="fade" data-delay="500" style="margin-top: 0px; display: block; cursor: pointer; outline: none; background-color: rgb(255, 0, 0);" aria-disabled="false">
                <div class="ne elHeadline lh3 elMargin0 elBGStyle0 hsTextShadow0 hsSize4 elFont_global" style="text-align: center; font-size: 36px; color: rgb(241, 244, 248); background-color: rgb(229, 179, 34);" data-bold="inherit" contenteditable="false">
                    <b>{{ Callout }}</b>
                </div>
            </div>
            {{/truthy}}
            <div class="de elHeadlineWrapper ui-droppable de-editable" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="none" data-animate="fade" data-delay="500" style="margin-top: 10px; display: block; cursor: pointer; outline: none;" aria-disabled="false">
                <div class="ne elHeadline lh3 elMargin0 elBGStyle0 hsTextShadow0 hsSize4 elFont_global" style="text-align: center;" data-bold="inherit" contenteditable="false">
                    <b>{{ Headline }}</b>
                </div>
            </div>
        </div>
    </div>
</div>
