<div class="container noTopMargin padding40-top padding40-bottom padding40H borderSolid cornersAll radius0 shadow0 bgNoRepeat activeSection_topBorder0 activeSection_bottomBorder0 fullContainer borderLightTop border1px activeSection_topBorder1.11111 emptySection" data-title="Section" data-block-color="0074C7" style="border-color: rgba(47, 47, 47, 0.11); padding-top: 21px; padding-bottom: 17px; outline: none; background-color: rgba(0, 117, 178, 0.9);" data-trigger="none" data-animate="fade" data-delay="500">
    <div class="containerInner ui-sortable">
        {{ Blocks |> render }}
    </div>
</div>