<div class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" data-trigger="none" data-animate="fade" data-delay="500" data-title="1 column row" style="outline: none; margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px;">
    <div class="col-md-12 innerContent col_left" data-col="full" data-trigger="none" data-animate="fade" data-delay="500" data-title="full column" style="outline: none;">
        <div class="col-inner bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin">
            <div class="de elCountdownEvergreen elAlign_center elMargin0 elFont_oswald ui-droppable de-editable" data-de-type="countdown-evergreen" data-de-editing="false" data-title="Evergreen Countdown" data-ce="false" data-trigger="none" data-animate="scale" data-delay="500" style="margin-top: 19px; outline: none; cursor: pointer; display: block;" data-expire-type="url" aria-disabled="false" data-element-theme="customized">
                <div class="wideCountdownEvergreen clearfix hide cdLabelBold wideCountdownSize2 cdBlack cdStyleFlat" data-hours="{{ Hours }}" data-minutes="{{ Minutes }}" data-seconds="{{ Seconds }}" data-tz="America/New_York" data-url="" data-lang="eng" style="">countdown</div>
                <div class="wideCountdownEvergreen clearfix cdLabelBold wideCountdownSize2 cdBlack cdStyleFlat wideCountdown-demo is-countdown" data-hours="{{ Hours }}" data-minutes="{{ Minutes }}" data-seconds="{{ Seconds }}" data-url="" style="">
                    <span class="countdown-row countdown-show3">
                        <span class="countdown-section">
                            <span class="countdown-section">
                                <span class="countdown-amount">00</span>
                                <span class="countdown-period">Hours</span>
                            </span>
                            <span class="countdown-section">
                                <span class="countdown-amount">00</span>
                                <span class="countdown-period">Minutes</span>
                            </span>
                            <span class="countdown-section">
                                <span class="countdown-amount">00</span>
                                <span class="countdown-period">Seconds</span>
                            </span>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
