<div class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" data-trigger="none" data-animate="fade" data-delay="500" data-title="1 column row" style="margin-bottom: 0px; outline: none;">
    <div class="col-md-12 innerContent col_left" data-col="full" data-trigger="none" data-animate="fade" data-delay="500" data-title="full column" style="outline: none;">
        <div class="col-inner bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin">
            {{#truthy Offer.CompareAtPrice}}
            <div class="de elHeadlineWrapper ui-droppable de-editable" id="headline-15705" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="none" data-animate="fade" data-delay="500" style="margin-top: 10px; display: block; cursor: pointer; outline: none;" aria-disabled="false">
                <div class="ne elHeadline hsSize3 lh3 elMargin0 elBGStyle0 hsTextShadow0 elFont_oswald" style="text-align: center;" data-bold="inherit" contenteditable="false">
                    Retail Price -
                    <a href="#" id="link-6105-282" class="" target="_self" style="color: rgb(238, 7, 7);">$</a>
                    <a href="#" class="" target="_self" style="background-color: rgb(255, 255, 255); color: rgb(238, 7, 7);">{{ Offer.CompareAtPrice }}</a>
                </div>
            </div>
            <div class="de elHeadlineWrapper ui-droppable de-editable" id="tmp_headline1-72385" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="none" data-animate="fade" data-delay="500" style="margin-top: 10px; cursor: pointer; outline: none; display: block;" aria-disabled="false">
                <div class="ne elHeadline lh3 elMargin0 elBGStyle0 hsTextShadow0 hsSize21" style="text-align: center;" data-bold="inherit" contenteditable="false">
                    But we have it on sale today</div>
            </div>
            {{/truthy}}
            {{#truthy Offer.RetailPrice}}
            <div class="de elHeadlineWrapper ui-droppable hiddenElementTools de-editable" id="headline-72071" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="none" data-animate="fade" data-delay="500" style="margin-top: 10px; display: block; cursor: pointer; outline: none;" aria-disabled="false">
                <div class="ne elHeadline hsSize3 lh3 elMargin0 elBGStyle0 hsTextShadow0 elFont_oswald" style="text-align: center; color: rgb(47, 47, 47);" data-bold="inherit" contenteditable="false">
                    Today's Price -
                    <a href="#" id="link-4900-71" class="" target="_self" style="color: rgb(238, 0, 0);">${{ Offer.RetailPrice }}</a>
                </div>
            </div>
            {{/truthy}}
            <div class="de elHeadlineWrapper ui-droppable de-editable" id="headline-98928" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="none" data-animate="fade" data-delay="500" style="margin-top: 10px; cursor: pointer; outline: none; display: block;" aria-disabled="false">
                <div class="ne elHeadline lh3 elMargin0 elBGStyle0 hsTextShadow0 hsSize21" style="text-align: center;" data-bold="inherit" contenteditable="false">We want to blow through our inventory so..</div>
            </div>
            <div class="de elHeadlineWrapper ui-droppable de-editable" id="headline-64151" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="none" data-animate="fade" data-delay="500" style="margin-top: 0px; display: block; cursor: pointer; outline: none;" aria-disabled="false">
                <div class="ne elHeadline hsSize3 lh3 elMargin0 elBGStyle0 hsTextShadow0 elFont_oswald" style="text-align: center;" data-bold="inherit" contenteditable="false">
                    For the Next Hour Get it For Only
                    <a href="#" id="link-885-145" class="" target="_self" style="color: rgb(30, 148, 37);"></a>
                    <a href="#" id="link-4056-238" class="" target="_blank" style="color: rgb(52, 186, 101);">${{ Offer.SalePrice }}</a>
                </div>
            </div>
            <div class="de elHeadlineWrapper ui-droppable de-editable" id="headline-40887" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="none" data-animate="fade" data-delay="500" style="margin-top: 10px; cursor: pointer; outline: none; display: block;" aria-disabled="false">
                <div class="ne elHeadline lh3 elMargin0 elBGStyle0 hsTextShadow0 hsSize21" style="text-align: center;" data-bold="inherit" contenteditable="false"></div>
            </div>
            {{#truthy Callout}}
            <div class="de elHeadlineWrapper ui-droppable de-editable" id="tmp_subheadline-45071" data-de-type="headline" data-de-editing="false" data-title="sub-headline" data-ce="true" data-trigger="none" data-animate="fade" data-delay="500" style="margin-top: 20px; outline: none; cursor: pointer;" aria-disabled="false">
                <div class="ne elHeadline hsSize2 lh3 elMargin0 elBGStyle0 hsTextShadow0" style="text-align: center; font-size: 40px; color: rgb(9, 179, 80);" data-bold="inherit" contenteditable="false">
                    <b>{{ Callout }}</b>
                </div>
            </div>
            {{/truthy}}
        </div>
    </div>
</div>
