<div class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" id="row--26285" data-trigger="none" data-animate="fade" data-delay="500" data-title="1 column row" style="margin-bottom: 0px; outline: none; padding-top: 0px;">
    <div id="col-full-167" class="col-md-12 innerContent col_left" data-col="full" data-trigger="none" data-animate="fade" data-delay="500" data-title="full column" style="outline: none;">
        <div class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin">
            {{#truthy Title}}
            <div class="de elHeadlineWrapper ui-droppable de-editable" id="tmp_headline1-27833" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="none" data-animate="fade" data-delay="500" style="margin-top: 10px; display: block; cursor: pointer; outline: none; font-family: Raleway, Helvetica, sans-serif !important;" data-google-font="Raleway" aria-disabled="false">
                <div class="ne elHeadline hsSize3 lh4 elMargin0 elBGStyle0 hsTextShadow0" style="text-align: center; color: rgba(255, 255, 255, 0.9);" data-bold="inherit" contenteditable="false">
                    <b>{{ Title }}</b>
                </div>
            </div>
            {{/truthy}}
            <div class="de elBullet elMargin0 ui-droppable de-editable" id="tmp_list-94266" data-de-type="list" data-de-editing="false" data-title="list" data-ce="true" data-trigger="none" data-animate="fade" data-delay="500" style="margin-top: 10px; cursor: pointer; outline: none; display: block;" aria-disabled="false">
                <ul class="ne elBulletList listIconBlack listIcon6 elFont_raleway listBorder0 listIconSize2 listSize3" data-bold="inherit" contenteditable="false" style="text-align: left; color: rgb(206, 206, 206);" bullet-color="rgba(7, 45, 74, 0.9)">
                    {{#each Items}}
                    <li>
                        <b>{{ it.Feature |> raw }}</b>
                        {{#truthy it.Benefit}}
                        - {{ it.Benefit |> raw }}
                        {{/truthy}}
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>
