<div class="col-md-4 innerContent col_left ui-resizable" data-col="left" data-trigger="none" data-animate="fade" data-delay="500" data-title="Left column" style="outline: none;">
    <div class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin">
        <div class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable" data-de-type="img" data-de-editing="false" data-title="image" data-ce="false" data-trigger="none" data-animate="fade" data-delay="500" style="margin-top: 10px; outline: none; cursor: pointer; display: block;" aria-disabled="false">
            <img src="{{ Picture }}" class="elIMG ximg" width="300">
        </div>
        <div class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable" data-de-type="img" data-de-editing="false" data-title="image" data-ce="false" data-trigger="none" data-animate="fade" data-delay="500" style="margin-top: 10px; outline: none; cursor: pointer;" aria-disabled="false">
            <img src="//shop.slabway.com/hosted/images/25/d51d303fdf11e79b5ec5199dcc7676/5-stars.png" class="elIMG ximg" width="200">
        </div>
        <div class="de elTextBlockWrapper elMargin0 ui-droppable de-editable" data-de-type="textblock" data-de-editing="false" data-title="text block" data-ce="false" data-trigger="none" data-animate="fade" data-delay="500" style="margin-top: 10px; outline: none; cursor: pointer; display: block;" aria-disabled="false">
            <div class="elTextblock" style="color: rgb(225, 225, 225);">
                <p>{{ Testimonial |> raw }}</p>
            </div>
        </div>
        <div class="de elTextBlockWrapper elMargin0 ui-droppable de-editable" data-de-type="textblock" data-de-editing="false" data-title="text block" data-ce="false" data-trigger="none" data-animate="fade" data-delay="500" style="margin-top: 10px; outline: none; cursor: pointer;" aria-disabled="false">
            <div class="elTextblock" style="color: rgb(179, 179, 179);">
                <p style="text-align: center;">{{ Name }}{{#truthy Date}} - {{ Date }}{{/truthy}}</p>
            </div>
        </div>
    </div>
</div>
