<div class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" data-trigger="none" data-animate="fade" data-delay="500" data-title="2 column row" style="margin-bottom: 0px; outline: none;">
    <div class="col-md-6 innerContent col_left ui-resizable" data-col="left" data-trigger="none" data-animate="fade" data-delay="500" data-title="Left column" style="outline: none;">
        <div class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin">
            <div class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable" id="tmp_image-43491-155" data-de-type="img" data-de-editing="false" data-title="image" data-ce="false" data-trigger="none" data-animate="fade" data-delay="500" style="margin-top: 0px; outline: none; cursor: pointer; display: block;" aria-disabled="false">
                <img src="{{ Picture }}" class="elIMG ximg" width="200">
            </div>
        </div>
    </div>
    <div class="col-md-6 innerContent col_right ui-resizable" data-col="right" data-trigger="none" data-animate="fade" data-delay="500" data-title="Right column" style="outline: none;">
        <div class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin">
            <div class="de elHeadlineWrapper ui-droppable de-editable" id="tmp_headline1-69476-120" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="none" data-animate="fade" data-delay="500" style="margin-top: 66px; cursor: pointer; outline: none; display: block;" aria-disabled="false">
                <div class="ne elHeadline lh3 elMargin0 elBGStyle0 hsTextShadow0 elHeadlineIcon_none hsSize2 elFont_raleway" style="text-align: center;" data-bold="inherit" contenteditable="false">
                    <i>{{ Body }}</i>
                </div>
            </div>
        </div>
    </div>
</div>
