<div class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" data-trigger="none" data-animate="fade" data-delay="500" data-title="2 column row" style="padding-top: 20px; padding-bottom: 20px; margin: 0px; outline: none;">
    {{#each Items}}
    <div class="col-md-6 innerContent col_left ui-resizable" data-col="left" data-trigger="none" data-animate="fade" data-delay="500" data-title="1st column" style="outline: none;">
        <div class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" style="padding: 0 10px">
            <div class="de elMargin0 elScreenshot_right clearfix elFeatureImage_80_20 ui-droppable de-editable" data-de-type="featureimage" data-de-editing="false" data-title="Image Feature" data-ce="true" data-trigger="none" data-animate="fade" data-delay="500" style="margin-top: 5px; outline: none; cursor: pointer;" aria-disabled="false">
                <div class="elFeatureImage">
                    <div class="elScreenshot_image elAlign_center">
                        <img src="{{ it.Picture }}" class="elScreenshot_image_src1 ximg imgRoundCorners" height="auto" width="500">
                    </div>
                    <div class="elScreenshot_text">
                        <div class="elScreenshot_text_padding" style="padding: 0 10px">
                            <h3 class="ne elScreenshot_text_headline ssHeadlineSize2" contenteditable="false" style="font-size: 18px;">
                                <b>{{ Title }}</b>
                            </h3>
                            <div class="ne elScreenshot_text_body ssBodySize1" contenteditable="false">
                                {{ Body |> raw }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>
